@model IEnumerable<ELF.Models.ChuDeBaiQuiz>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<div class="usr-pnl">
    <div class="pnl-tl">
        <h4>Chủ đề bài Quiz</h4>
        <a href="#" title="" class="crt-btn"><i class="fa fa-plus"></i></a>
    </div>
    <!-- Panel Title -->
    <div class="pnl-bdy">
        <div class="crt-grp">
            <h4>Tạo chủ đề</h4>
            @using (Html.BeginForm("Create", "ChuDeBaiQuizs"))
            {
                @Html.AntiForgeryToken()
        <form>

            <i class="fa fa-user"></i>
            
            <input type="text" name="tenCD" placeholder="Nhập tên chủ đề bài Quiz cần thêm mới..." required="required" oninvalid="this.setCustomValidity('Bạn chưa nhập tên chủ đề bài Quiz')" oninput="setCustomValidity('')">
            <button type="submit" class="btn1 crt-grp-btn">Thêm mới</button>

        </form>
            }
            </div>
        <!-- Creat Group Form -->
        <div class="usr-itm">
            <span class="cmpny-nm">Danh sách chủ đề</span>
            <ul class="usr-lst">
                @foreach (var item in Model)
                {
                    if (item.trangThai != "Đã xóa")
                    {
                        var myModal = "exampleModalCenter" + item.maChuDe;
                <li>
                    <div class="usr-lst-inf">
                        <h2><a href="@Url.Action("Index", "CauHois", new { maCD = item.maChuDe})" title="">@item.tenChuDe</a></h2>
                        <i>Mã chủ đề: @item.maChuDe</i>
                    </div>
                    <div class="usr-btns">

                        <a href="" title="" class="add-butn" data-ripple="" data-toggle="modal" data-target="#@myModal">Xóa chủ đề</a>
                        

                        <div class="modal fade" id="@myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalCenterTitle">Thông báo</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Bạn có chắc muốn xoá bộ câu hỏi và chủ đề "@item.tenChuDe""

                                    </div>
                                    <div class="modal-footer">
                                        @using (Html.BeginForm("Delete", "ChuDeBaiQuizs", new { id = item.maChuDe }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
                                            <button type="submit" class="btn btn-primary">Xoá</button>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                   
                </li>

                      

                    }
                }
            </ul>
            <!-- Users List -->
        </div>

        <!-- User Item -->
    </div>
    <!-- Panel Body -->

</div>