@model ELF.Models.LoaiQuyenGop

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>LoaiQuyenGop</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tenLoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenLoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.noiDung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.noiDung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.viTriQP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.viTriQP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ghiChu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ghiChu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.trangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trangThai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hinhAnh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hinhAnh)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.maLQG }) |
    @Html.ActionLink("Back to List", "Index")
</p>
