@model IEnumerable<ELF.Models.LoaiQuyenGop>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}
<link rel="stylesheet" href="~/css/main.min.css">
<link rel="stylesheet" href="~/css/style.css">
<link rel="stylesheet" href="~/css/color.css">
<link rel="stylesheet" href="~/css/responsive.css">
<link rel="stylesheet" href="~/css/strip.css">

<script src="~/js/main.min.js"></script>
<script src="~/js/script.js"></script>
<script src="~/js/map-init.js"></script>

<div class="usr-pnl">
    <div class="pnl-tl">
        <h4>Loại quên góp</h4>

        <a href="#" title="" class="scrh-grp-btn"><i class="fa fa-plus"></i></a>
    </div><!-- Panel Title -->
    <div class="pnl-bdy">
        @foreach (var item in Model)
        {
            if (item.trangThai != "Đã xóa")
            {
        <div class="cmp-loc">
            <div class="more" style="float:right;  padding: 15px; ">
                <div class="more-post-optns">
                    <i class="ti-more-alt"></i>
                    @{
                        var myModal = "exampleModalCenter" + item.maLQG;
                    }
                <ul>

                    <li> <a href="" title="" class="btn-block" data-ripple="" data-toggle="modal" data-target="#@myModal">Xóa</a></li>
                    @if (item.trangThai == "Đã ẩn")
                    {
                        <li> @Html.ActionLink("Hiện", "Hidden", new { id = item.maLQG })</li>
                    }
                    else
                    {
                         <li> @Html.ActionLink("Ẩn", "Hidden", new { id = item.maLQG })</li>
                    }
                    

                    <li><a type="button" class="btn-block" href="@Url.Action("Details", "LoaiQuyenGops",new {id = item.maLQG })" >Chi tiết</a> </li>
                </ul>
                    <div class="modal fade" id="@myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalCenterTitle">Thông báo</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                Bạn có chắc chắn muốn xóa toàn bộ chủ đề "@item.tenLoai" không?
                                </div>
                                <div class="modal-footer">
                                    @using (Html.BeginForm("Delete", "LoaiQuyenGops", new { id = item.maLQG }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
                                        <button type="submit" class="btn btn-primary">Xoá</button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cmp-sc1">
                <div class="cmp-thm">
                    <img src="~/images/resources/@item.hinhAnh" alt="">
                </div>

            </div>
            <div class="cmp-sc2">
                <h2>@item.tenLoai</h2>
                <span><i class="fa fa-location-arrow"></i> @item.viTriQP ||</span>
                @if (item.trangThai != "Đã ẩn")
                {
                    <span><i class="fa fa-globe"></i> @item.trangThai</span>
                }
                else
                {
                    <span> @item.trangThai</span>
                }

            </div>
            <div class="cmp-sc3">
                <h2>Vật dụng</h2>
                <span>@item.noiDung</span>
                @if (item.ghiChu != null)
                {
                    <h2>Ghi chú</h2>
                    <span>@item.ghiChu</span>
                }


            </div>

            <div class="cmp-sc4">
                <div class="cmp-bnr">
                    <img src="~/images/resources/@item.hinhAnh" alt="">
                    <a title="" href="@Url.Action("Index", "QuyenGops", new { maLQG = item.maLQG })"> Danh sách</a>
                </div>
            </div>



        </div>
                            }
                        }


    </div><!-- Panel Body -->
</div>


<div class="popup-wrp2 srch-grp-pp" >
    <span class="pp-cls"></span>
    <div class="popup-innr loc-edt" style="max-width: 1040px;">
        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 500px;">
            <div class="scrl" style="overflow: hidden; width: auto; height: 500px;">
                <div class="usr-pnl">
                    <div class="pnl-tl">
                        <h4>Thêm loại quyên góp</h4>
                        <ul class="brd-crmb">
                            <li><a href="#" title=""><i class="fa fa-home"></i></a></li>
                            <li>Locations</li>
                        </ul>
                    </div><!-- Panel Title -->
                    <div class="pnl-bdy">

                        <div class="adrs-frm">
                            <h4>Thông tin quyên góp</h4>
                            @using (Html.BeginForm("Create", "LoaiQuyenGops", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()

                                <form>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <input type="text" placeholder="Tên Loại Quyên Góp" name="loaiQG"
                                                           required="required" oninvalid="this.setCustomValidity('Bạn chưa nhập tên loại quên góp)" oninput="setCustomValidity('')">
                                                </div>
                                                <div class="col-md-12">
                                                    <input type="Text" placeholder="vật dụng ví dụ..." name="noidung"
                                                           required="required" oninvalid="this.setCustomValidity('Bạn chưa nhập những vât dụng ví dụ...)" oninput="setCustomValidity('')">
                                                </div>
                                                <div class="col-md-12">
                                                    <input type="text" placeholder="Vị trí quyên góp" name="vitri"
                                                           required="required" oninvalid="this.setCustomValidity('Bạn chưa nhập vị trí quyên góp)" oninput="setCustomValidity('')">
                                                </div>
                                                <div class="col-md-12">
                                                    <input type="text" placeholder="Ghi chú" name="ghiChu">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="cmp-bnr">
                                                        <label class="fileContainer">
                                                            <i class="fa fa-camera" style="line-height: 128px;"></i>
                                                            <input accept="image/*" id="chng2" type="file" name="img"
                                                                   required="required" oninvalid="this.setCustomValidity('Bạn chưa chọn hình ảnh quyên góp)" oninput="setCustomValidity('')">

                                                            <script>
                                                                chng2.onchange = evt => {
                                                                    const [file] = chng2.files
                                                                    if (file) {
                                                                        blah.src = URL.createObjectURL(file)
                                                                    }
                                                                }
                                                            </script>
                                                        </label>
                                                        <img id="utp2" src="images/resource/cmp-bnr1.jpg" alt="">
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                    <button type="submit" title="" class="sv-btn">Lưu</button>
                                </form>
                            }
                        </div><!-- Address Form -->
                    </div><!-- Panel Body -->
                </div><!-- User panel -->
            </div>
        </div>
    </div>
</div>




