@model ELF.Models.ThongBao

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/NguoiDung/Views/Shared/_Layout_NguoiDung.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ThongBao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.noiDung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.noiDung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngayTB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngayTB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tinhTrang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tinhTrang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BaiDangSanPham.tenSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaiDangSanPham.tenSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BaiDangThongTin.tieuDe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaiDangThongTin.tieuDe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BinhLuan.noiDung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BinhLuan.noiDung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonQua.TrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonQua.TrangThai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NguoiDung.hoVaTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NguoiDung.hoVaTen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NguoiDung1.hoVaTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NguoiDung1.hoVaTen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuyenGop.donVi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuyenGop.donVi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TraoDoi.trangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TraoDoi.trangThai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.maTB }) |
    @Html.ActionLink("Back to List", "Index")
</p>
