@model List<ELF.Models.ThongBao>

@{
    string avt_ND = "";
    int TongTB = int.Parse(Model.Count().ToString());
}

<span>@TongTB Thông báo </span>

<ul class="drops-menu">
    @foreach (var item in Model)
    {
        if (item.maBDSP != null)
        {
            if (Session["avatar"] != null)
            {
                avt_ND = Session["avatar"].ToString();
            }
            else
            {
                avt_ND = "~/images/resources/User-avatar.svg.png";
            }
            <li>
                <a href="@Url.Action("Index_BDSP_one","BaiDangSanPhams", new {maBDSP = item.maBDSP , maND = item.maND })" title="">
                    <img src="@Url.Content(avt_ND)" alt="">
                    @if (item.noiDung == "Đã duyệt")
                    {
                        <div class="mesg-meta">
                            <h6>Bài đăng sản phẩm</h6>
                            <span>của bạn đã được <b style="color: darkcyan">Duyệt</b></span>
                            <i>@item.ngayTB</i>
                        </div>
                    }
                    else
                    {
                        <div class="mesg-meta">
                            <h6>Bài đăng sản phẩm</h6>
                            <span>của bạn đã bị <b style="color: red">Hủy</b></span>
                            <i>@item.ngayTB</i>
                        </div>
                    }
                </a>
                <span class="tag green">New</span>
            </li>
        }
        if (item.maBDTT != null)
        {
            if (Session["avatar"] != null)
            {
                avt_ND = Session["avatar"].ToString();
            }
            else
            {
                avt_ND = "~/images/resources/User-avatar.svg.png";
            }
            <li>
                <a href="@Url.Action("Index_BDTT_one","BaiDangThongTins", new {maBDTT = item.maBDTT , maND = item.maND })" title="">
                    <img src="@Url.Content(avt_ND)" alt="">
                    @if (item.noiDung == "Đã duyệt")
                    {
                        <div class="mesg-meta">
                            <h6>Bài đăng thông tin</h6>
                            <span>của bạn đã được <b style="color: darkcyan">Duyệt</b></span>
                            <i>@item.ngayTB</i>
                        </div>
                    }
                    else
                    {
                        <div class="mesg-meta">
                            <h6>Bài đăng thông tin</h6>
                            <span>của bạn đã bị <b style="color: red">Hủy</b></span>
                            <i>@item.ngayTB</i>
                        </div>
                    }
                </a>
                <span class="tag green">New</span>
            </li>
        }
        if (item.maQG != null)
        {
            if (Session["avatar"] != null)
            {
                avt_ND = Session["avatar"].ToString();
            }
            else
            {
                avt_ND = "~/images/resources/User-avatar.svg.png";
            }
            <li>
                <a href="notifications.html" title="">
                    <img src="@Url.Content(avt_ND)" alt="">
                    @if (item.noiDung == "Đã duyệt")
                    {
                        <div class="mesg-meta">
                            <h6>Đơn quyên góp</h6>
                            <span>của bạn đã được <b style="color: darkcyan">Duyệt</b></span>
                            <i>@item.ngayTB</i>
                        </div>
                    }
                    else
                    {
                        <div class="mesg-meta">
                            <h6>Đơn quyên góp</h6>
                            <span>của bạn đã bị <b style="color: red">Hủy</b></span>
                            <i>@item.ngayTB</i>
                        </div>
                    }
                </a>
                <span class="tag green">New</span>
            </li>
        }

        if (item.maBL != null)
        {
            if (item.BinhLuan.NguoiDung.avatar != null)
            {
                avt_ND = item.BinhLuan.NguoiDung.avatar;
            }
            else
            {
                avt_ND = "~/images/resources/User-avatar.svg.png";
            }
            <li>

                <a href="notifications.html" title="">
                    <img src="@Url.Content(avt_ND)" alt="">

                    <div class="mesg-meta">
                        <h6>@item.BinhLuan.NguoiDung.hoVaTen</h6>
                        <span>vừa <b style="color: darkgreen">bình luận</b> bài đăng của bạn</span>
                        <i>@item.ngayTB</i>
                    </div>
                </a>
                <span class="tag green">New</span>

            </li>
        }



    }

</ul>
    <a href="@Url.Action("Index","ThongBaos")" title="" class="more-mesg">Xem tất cả</a>
