@model ELF.Models.DonThuGom

@{
    Layout = "~/Areas/DonViThuGom/Views/Shared/_Layout_DonViThuGom.cshtml";
    int maDVTG = int.Parse(Session["maDVTG"].ToString());
    int maND = int.Parse(Session["maND"].ToString());

}

<div class="editing-info" style=" text-align: center;">
    <h5 class="f-title"><i class="ti-info-alt"></i>Thông tin quyên góp</h5>
    <div class="form-group">
        <img width="300" src="~/images/resources/@Model.DonViThuGom.logo" alt="">
    </div>
</div>

<div class="onoff-options" style=" text-align: center;">
    <div class="setting-row">
        <span>Thành phần thu gom</span>
        <p>@Html.DisplayFor(model => model.thanhPhan)</p>
    </div>

    <div class="setting-row">
        <span>Khối lượng thu gom</span>
        <p>@Html.DisplayFor(model => model.khoiLuong)</p>
    </div>

    <div class="setting-row">
        <span>Vị Trí thu gom</span>
        <p>@Html.DisplayFor(model => model.viTriTG)</p>
    </div>

    <div class="setting-row">
        <span>Ngày hẹn thu gom</span>
        <p>@Html.DisplayFor(model => model.ngayHenTG)</p>
    </div>

    <div class="setting-row">
        <span>Ngày gửi yêu cầu thu gom</span>
        <p>@Html.DisplayFor(model => model.ngayGui)</p>
    </div>

    <div class="setting-row">
        <span>Ngày xác nhận</span>
        @if (Model.ngayXacNhan != null)
        {
            <p>@Html.DisplayFor(model => model.ngayXacNhan)</p>
        }
        else
        {
            <p>Chưa xác nhận</p>
        }
    </div>

    <div class="setting-row">
        <span>Ngày hoàn tất</span>
        @if (Model.ngayHoanTat != null)
        {
            <p>@Html.DisplayFor(model => model.ngayHoanTat)</p>
        }
        else
        {
            <p>Chưa hoàn tất</p>
        }
    </div>
    <div class="setting-row">
        <span>Trạng thái</span>
        <p>@Html.DisplayFor(model => model.trangThai)</p>
    </div>
    <div class="setting-row">
        <span>Ghi chú</span>
        <p>@Html.DisplayFor(model => model.ghiChu)</p>
    </div>
    @if (Model.trangThai == "Gửi yêu cầu")
    {
        <div class="submit-btns" style="float:right">
            <button type="button" class="mtr-btn" onclick="location.href='@Url.Action("Index", "DonThuGoms", new { maDVTG = Model.maDVTG })'" style="float:left"><span>Quay lại</span></button>
            <button type="button" class="mtr-btn scrh-grp-btn" style="width: auto"><span>Chỉnh sửa</span></button>
            <button type="button" class="mtr-btn" data-toggle="modal" data-target="#exampleModal" style="color:firebrick"><span>Hủy Yêu Cầu</span></button>
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Thông báo</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    @using (Html.BeginForm("Xoa_DTG", "DonThuGoms"))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("id", Model.maDonTG)
                        @Html.Hidden("maDVTG", Model.maDVTG)
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label" style="float: left">Lý do:</label>
                                    <textarea class="form-control" id="message-text" name="lydo"
                                              required="required" oninvalid="this.setCustomValidity('Vui lòng nhập lý do hủy yêu cầu)" oninput="setCustomValidity('')"></textarea>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                                    <button type="submit" class="btn btn-primary" id="btn btn-primary">Xác nhận</button>
                                </div>
                            </form>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
    else
    {
        <button type="button" class="mtr-btn" onclick="location.href='@Url.Action("Index", "DonThuGoms", new { maDVTG = Model.maDVTG})'"><span>Quay lại</span></button>
    }

    <div class="coment-area" style="text-align: left">
        <ul class="we-comet">

            @Html.Action("listComment_DTG", "BinhLuans", new { maDTG = Model.maDonTG })


            <li>
                <a href="" title="" class="showmore underline"></a>
            </li>
            <li class="post-comment">
                <div class="comet-avatar">
                    <img src="~/images/resources/@Model.DonViThuGom.logo" alt="" style="width: 70%">
                </div>
                <div class="post-comt-box">
                    <form method="post">
                        <textarea placeholder="Post your comment" name="coment"></textarea>
                        <input hidden type="text" id="URL_CMT" value="@Url.Action("InsertBinhLuansDTG", "BinhLuans")">
                        <input hidden type="text" id="MaND_cmt" value="@maND">
                        <input hidden type="text" id="BD_cmt" value="4">
                        <input hidden type="text" id="MaBD_cmt" value="@Model.maDonTG">
                        <input hidden type="text" id="name_cmt" value="@Model.DonViThuGom.tenDVTG">
                        <input hidden type="text" id="avt_cmt" value="~/images/resources/@Model.DonViThuGom.logo">
                        <button type="submit"></button>
                    </form>

                </div>
            </li>

        </ul>
    </div>
</div>