@model ELF.Models.QuaTang

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/NguoiDung/Views/Shared/_Layout_NguoiDung.cshtml";
}

<h2>Details</h2>

<div>
    <h4>QuaTang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tenQuaTang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenQuaTang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diemDoi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diemDoi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.trangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trangThai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngayTao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngayTao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngayThayDoi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngayThayDoi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ghiChu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ghiChu)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.maQuaTang }) |
    @Html.ActionLink("Back to List", "Index")
</p>
