@model IEnumerable<ELF.Models.QuaTang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/NguoiDung/Views/Shared/_Layout_NguoiDung.cshtml";
}

<div class="central-meta">
    <div class="groups">
        <span><i class="fa fa-file-text-o"></i> Quà tặng</span>
    </div>


    <ul class="liked-pages">
        @foreach (var item in Model)
        {
            <li>
                <div class="f-page">
                    <figure>
                        <a href="@Url.Action("Create", "QuyenGops", new {item.maQuaTang})" title=""><img src="~/images/resources/@item.hinhAnh" alt=""></a>
                        <div class="dropdown pgs">
                            <button class="btn" type="submit" id="dropdownMenu" aria-haspopup="true" aria-expanded="false">
                                Quyên góp
                            </button>
                        </div>
                        <em>@Html.DisplayFor(modelItem => item.trangThai)</em>
                    </figure>
                    <div class="page-infos">
                        <h5><a href="@Url.Action("Create", "QuyenGops", new {item.maQuaTang})" title="">@Html.DisplayFor(modelItem => item.tenQuaTang)</a></h5>
                        <span><a href="@Url.Action("Create", "QuyenGops", new {item.maQuaTang})" title="">@Html.DisplayFor(modelItem => item.diemDoi)</a></span>
                    </div>

                </div>
            </li>
        }
    </ul>

</div>
