@model ELF.Models.QuyenGop

@{
    ViewBag.Title = "Details_DonQG";
    Layout = "~/Areas/KiemDuyets/Views/Shared/_Layout_NguoiKiemDuyet.cshtml";
}


<div class="editing-info">
    <h5 class="f-title"><i class="ti-info-alt"></i>Thông tin quyên góp</h5>
    <div class="form-group">
        <img width="300" src="@Url.Content(Model.hinhAnh)" alt="">
    </div>
</div>

<div class="onoff-options">
    <div class="setting-row">
        <span>Loại quyên góp</span>
        <p>@Html.DisplayFor(model => model.LoaiQuyenGop.tenLoai)</p>
    </div>

    <div class="setting-row">
        <span>Số lượng quyên góp</span>
        <p>@Html.DisplayFor(model => model.soLuong)  @Html.DisplayFor(model => model.donVi)</p>
    </div>

    <div class="setting-row">
        <span>Ngày quyên góp</span>
        <p>@Html.DisplayFor(model => model.ngayQG)</p>

    </div>
    <div class="setting-row">
        <span>Ghi chú</span>
        <p>@Html.DisplayFor(model => model.ghiChu)</p>
    </div>

    <div class="submit-btns">
        <button type="button" class="mtr-btn" data-toggle="modal" data-target="#exampleModal"><span>Xóa Bài</span></button>

        <button type="button" class="mtr-btn" onclick="location.href='@Url.Action("DuyetBai_DonQG", "KiemDuyets",  new { maQG = Model.maQG })'"><span>Duyệt Bài</span></button>
    </div>


    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thông báo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                @using (Html.BeginForm("XoaBai_BDSP", "KiemDuyets"))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("maQG", Model.maQG)
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Lý do:</label>
                                <textarea class="form-control" id="message-text" name="lydo"></textarea>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                                <button type="submit" class="btn btn-primary" id="btn btn-primary">Xác nhận</button>
                            </div>
                        </form>
                    </div>

                }

            </div>
        </div>
    </div>

</div>


