@model ELF.Models.BaiDangThongTin
@{
    ViewBag.Title = "Details_BDTT";
    Layout = "~/Areas/KiemDuyets/Views/Shared/_Layout_NguoiKiemDuyet.cshtml";
}


<div class="editing-info">
    <h5 class="f-title"><i class="ti-info-alt"></i>Thông tin bài đăng</h5>
    @if (Model.hinhAnh != null)
    {
    <div class="form-group">
        <img width="300" src="@Url.Content(Model.hinhAnh)" alt="">
     </div>
    }
    
</div>

<div class="onoff-options">
    <div class="setting-row">
        <span>Tiêu đề</span>
        <p>@Html.DisplayFor(model => model.tieuDe)</p>
    </div>

    <div class="setting-row">
        <span>Mô tả</span>
        <p>@Html.DisplayFor(model => model.noiDung)</p>
    </div>


    <div class="submit-btns">
        <button type="button" class="mtr-btn" data-toggle="modal" data-target="#exampleModal" ><span>Xóa Bài</span></button>

        <button type="button" class="mtr-btn" onclick="location.href='@Url.Action("DuyetBai", "KiemDuyets",  new { maBDTT = Model.maBDTT })'"><span>Duyệt Bài</span></button>
    </div>


    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thông báo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                @using (Html.BeginForm("XoaBai_BDTT", "KiemDuyets"))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("maBDTT", Model.maBDTT)
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Lý do:</label>
                                <textarea class="form-control" id="message-text" name="lydo"></textarea>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                                <button type="submit" class="btn btn-primary" id="btn btn-primary">Xác nhận</button>
                            </div>
                        </form>
                    </div>

                }

            </div>
        </div>
    </div>

</div>


