@model ELF.Models.NguoiDung

@{
    ViewBag.Title = "Thông tin cá nhân";
    Layout = "~/Areas/NguoiDung/Views/Shared/_Layout_TrangCaNhan.cshtml";
    string avt = "";
}

@if (Model.avatar != null)
{
    avt = Model.avatar;
}
else
{
    avt = "~/images/resources/User-avatar.svg.png";
}
<div class="editing-info">
    <h5 class="f-title"><i class="ti-info-alt"></i>Thông tin cá nhân</h5>
        <div class="form-group">
            <img src="@Url.Content(avt)" alt="">
        </div> 
    </div>
       
<div class="onoff-options">
    <div class="setting-row">
        <span>Họ và Tên</span>
        <p>@Html.DisplayFor(model => model.hoVaTen)</p>
    </div>
    <div class="setting-row">
        <span>Số điện thoại</span>
        <p>@Html.DisplayFor(model => model.dienThoai)</p>

    </div>
    <div class="setting-row">
        <span>Tỉnh/Thành phố</span>
        <p>@Html.DisplayFor(model => model.Tinh_ThanhPho.tenTinh_TP)</p>
    </div>
    <div class="setting-row">
        <span>Quận/Huyện</span>
        <p>@Html.DisplayFor(model => model.QuanHuyen.tenQuan)</p>
    </div>
    <div class="setting-row">
        <span>Phường/Thị Trấn</span>
        <p>@Html.DisplayFor(model => model.PhuongThiTran.tenPhuong)</p>
    </div>
    <div class="setting-row">
        <span>Địa chỉ</span>
        <p>@Html.DisplayFor(model => model.diaChi)</p>
    </div>
    <div class="submit-btns">
        <button type="button" class="mtr-btn" onclick="location.href='@Url.Action("Edit", "NguoiDungs",  new { id = Model.maND })'" ><span>Chỉnh sửa</span></button>
    </div>

</div>

    
