@model ELF.Models.NguoiDung

@{

    ViewBag.Title = "Edit";
    Layout = "~/Areas/NguoiDung/Views/Shared/_Layout_TrangCaNhan.cshtml";
    string avt = "";
    int maND = int.Parse(Session["maND"].ToString());

}


@if (Session["avatar"] != null)
{
    avt = Session["avatar"].ToString();
}
else
{
    avt = "~/images/resources/User-avatar.svg";
}

<h5 class="f-title"><i class="ti-info-alt"></i>Thông tin cá nhân</h5>
@using (Html.BeginForm("Edit", "NguoiDungs", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="editing-info">
        <div class="form-group">
            <label class="fileContainer">

                <br />
                <img id="blah" src="@Url.Content(avt)" width="200" alt="Image preview...">
                <label for="exampleFormControlFile1" style="color: #808080">Thay hình</label>
                <input accept="image/*" name="avt" type="file" class="form-control-file" id="exampleFormControlFile1">
                <label class="control-label" for="input">Thay Avtatar</label>

                <script>
                    exampleFormControlFile1.onchange = evt => {
                        const [file] = exampleFormControlFile1.files
                        if (file) {
                            blah.src = URL.createObjectURL(file)
                        }
                    }
                </script>
            </label>
        </div>


        <div class="form-group half">
            @Html.EditorFor(model => model.hoVaTen, new
       {
           htmlAttributes = new
           {
               @type = "text"
           }
       })
            <label class="control-label" for="input">Họ và tên</label><i class="mtrl-select"></i>
            @Html.ValidationMessageFor(model => model.hoVaTen, "", new { @class = "text-danger" })
        </div>
        <div class="form-group half">
            @Html.EditorFor(model => model.dienThoai, new
       {
           htmlAttributes = new
           {
               @type = "text"
           }
       })
            <label class="control-label" for="input">Số điện thoại</label><i class="mtrl-select"></i>
            @Html.ValidationMessageFor(model => model.dienThoai, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.EditorFor(model => model.ngaySinh, new
       {
           htmlAttributes = new
           {
               @type = "text"
           }
       })
            <label class="control-label" for="input">Ngày sinh</label><i class="mtrl-select"></i>
            @Html.ValidationMessageFor(model => model.ngaySinh, "", new { @type = "date", @class = "text-danger" })
        </div>
        <div class="form-group">
            <select name="gioiTinh" id="select" class="form-control selectpicker">

                @if (int.Parse(Session["gioiTinh"].ToString()) == 1)
                {
                    <option value="" disabled="disabled">Giới tính</option>
                    <option value="1" selected="selected">Nam</option>
                    <option value="0">Nữ</option>
                    <option value="2">Khác</option>
                }
                else if (int.Parse(Session["gioiTinh"].ToString()) == 0)
                {
                    <option value="" disabled="disabled">Giới tính</option>
                    <option value="1">Nam</option>
                    <option value="0" selected="selected">Nữ</option>
                    <option value="2">Khác</option>
                }
                else
                {
                    <option value="" disabled="disabled">Giới tính</option>
                    <option value="1">Nam</option>
                    <option value="0">Nữ</option>
                    <option value="2" selected="selected">Khác</option>
                }
            </select>
        </div>
        <div class="form-group">
            @if (ViewBag.maTinh_TP != null)
            {
                @*@Html.DropDownListFor(model => model.maTinh_TP, ViewBag.maTinh_TP as SelectList, "Tỉnh/Thành Phố")*@
                @*@Html.DropDownList("maTinh_TP", ViewBag.maTinh_TP as SelectList, "Tỉnh/Thành Phố")*@
                @Html.DropDownList("maTinh_TP", null, htmlAttributes: new { @class = "form-control selectpicker", @title = "--- Tỉnh/Thành phố ---" })
            }
        </div>
        <div class="form-group">
            @Html.DropDownList("maQuan", new SelectList(String.Empty, "maQuan", "tenQuan", TempData["maQuan"]), "--- Quận/Huyện ---", new { @class = "form-control selectpicker", @title = "--- Quận/Huyện ---" })
        </div>

        <div class="form-group">
            @*@Html.DropDownListFor(model => model.maP, new SelectList(""), "Phường/Thị Trấn")*@
            @Html.DropDownList("maP", new SelectList(String.Empty, "maPhuong", "tenPhuong"), "--- Phường/Thị Trấn ---", new { @class = "form-control selectpicker", @title = "--- Phường/Thị Trấn ---" })
        </div>
        <div class="form-group">
            @Html.EditorFor(model => model.diaChi, new { htmlAttributes = new { @type = "text" } })
            <label class="control-label" for="input">Địa chỉ</label><i class="mtrl-select"></i>
        </div>
        <div class="submit-btns">
            <button type="button" class="mtr-btn" onclick="location.href='@Url.Action("Details", "NguoiDungs", new { id = maND })'"><span>Huỷ</span></button>
            <button type="submit" class="mtr-btn"><span>Lưu</span></button>
        </div>

    </div>
}

@*<script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script>

            var RootUrl = '@Url.Content("~/")';

            $(document).ready(function () {
                $("#maTinh_TP").change(function () {
                    var ThanhPhoID = $(this).val();
                    debugger
                    $.ajax({
                        type: "post",
                        url: RootUrl + "NguoiDung/NguoiDungs/GetQuanHuyenList?maTinh_TP=" + ThanhPhoID,
                        contentType: "html",
                        success: function (response) {
                            debugger
                            $("#maQuan").empty();
                            $("#maQuan").append(response);
                        }
                    })
                })
            })


            $(document).ready(function () {
                $("#maQuan").change(function () {
                    var QuanID = $(this).val();
                    debugger
                    $.ajax({
                        type: "post",
                        url: RootUrl + "NguoiDung/NguoiDungs/GetPhuongThiTranList?maQuan=" + QuanID,
                        contentType: "html",
                        success: function (response) {
                            debugger
                            $("#maP").empty();
                            $("#maP").append(response);
                        }
                    })
                })
            })

    </script>*@


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<script type="text/javascript">

    var RootUrl = '@Url.Content("~/")';


    $(document).ready(function () {
        $(".chosen-container").remove();

    });

    $(document).ready(function () {

        var id = $('select#maTinh_TP').val();

        populate(id);

        $("#maTinh_TP").change(function () {
            var id = $('select#maTinh_TP').val();
            populate(id);
            @*$('#maQuan').selectpicker('val', [@TempData["maQuan"]]);*@
        }).change();

        function populate(id) {
            $("#maTinh_TP").change(function () {
                $("#maQuan").empty();
                $.ajax({
                    type: 'POST',
                    url: RootUrl + 'NguoiDung/NguoiDungs/GetQHList',
                    dataType: 'json',
                    data: { maTinh_TP: $("#maTinh_TP").val() },
                    success: function (quans) {
                        $("#maQuan").append('<option value="" disabled="disabled">Quận/Huyện</option>');
                        $.each(quans, function (i, quan) {
                            $("#maQuan").append('<option value="' + quan.maQuan + '">' + quan.tenQuan + '</option>');
                        });
                        $('.selectpicker').selectpicker('refresh');
                    },
                    error: function (ex) {
                        alert('Failed to retrieve states.' + ex);
                    }
                });
                return false;
            })
        }
        });



    $(document).ready(function () {

        $("#maQuan").change(function () {
            $("#maP").empty();
            $.ajax({
                type: 'POST',
                url: RootUrl + 'NguoiDung/NguoiDungs/GetPList',
                dataType: 'json',
                data: { maQuan: $("#maQuan").val() },
                success: function (phuongs) {
                    $("#maP").append('<option value="" disabled="disabled">Phường/Thị Trấn</option>');
                    $.each(phuongs, function (i, phuong) {
                        $("#maP").append('<option value="' + phuong.maPhuong + '">' + phuong.tenPhuong + '</option>');
                    });
                    $('.selectpicker').selectpicker('refresh');
                },
                error: function (ex) {
                    alert('Failed to retrieve states.' + ex);
                }
            });
            return false;
        })
    });
</script>


