@model ELF.Models.NguoiDung

@{

    ViewBag.Title = "Edit";
    Layout = "~/Areas/NguoiDung/Views/Shared/_Layout_TrangCaNhan.cshtml";
    string avt = "";
    int maND = int.Parse(Session["maND"].ToString());

}

@if (Session["avatar"] != null)
{
    avt = Session["avatar"].ToString();
}
else
{
    avt = "~/images/resources/User-avatar.svg";
}

<h5 class="f-title"><i class="ti-info-alt"></i>Thông tin cá nhân</h5>
@using (Html.BeginForm("Edit", "NguoiDungs", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="editing-info">
        <div class="form-group">
            <label class="fileContainer">

                <br />
                <img id="blah" src="@Url.Content(avt)" width="200" alt="Image preview...">
                <label for="exampleFormControlFile1" style="color: #808080">Thay hình</label>
                <input accept="image/*" name="avt" type="file" class="form-control-file" id="exampleFormControlFile1">
                <label class="control-label" for="input">Thay Avtatar</label>

                <script>
                    exampleFormControlFile1.onchange = evt => {
                        const [file] = exampleFormControlFile1.files
                        if (file) {
                            blah.src = URL.createObjectURL(file)
                        }
                    }
                </script>
            </label>
        </div>


        <div class="form-group half">
            @Html.EditorFor(model => model.hoVaTen, new
            {
                htmlAttributes = new
                {
                   @type = "text"
                }
            })
            <label class="control-label" for="input">Họ và tên</label><i class="mtrl-select"></i>
            @Html.ValidationMessageFor(model => model.hoVaTen, "", new { @class = "text-danger" })
        </div>
        <div class="form-group half">
            @Html.EditorFor(model => model.dienThoai, new
            {
                htmlAttributes = new
                {
                  @type = "text"
                }
            })
            <label class="control-label" for="input">Số điện thoại</label><i class="mtrl-select"></i>
            @Html.ValidationMessageFor(model => model.dienThoai, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.EditorFor(model => model.ngaySinh, new
            {
                htmlAttributes = new
                {
                   @type = "text"
                }
            })
            <label class="control-label" for="input">Ngày sinh</label><i class="mtrl-select"></i>
            @Html.ValidationMessageFor(model => model.ngaySinh, "", new { @class = "text-danger" })
        </div>
        <div class="form-radio">
            <select name="gioiTinh" id="" class="form-control">

                @if (int.Parse(Session["gioiTinh"].ToString()) == 1)
                {
                    <option value="" disabled="disabled">Giới tính</option>
                    <option value="1" selected="selected">Nam</option>
                    <option value="0">Nữ</option>
                    <option value="2">Khác</option>
                }
                else if (int.Parse(Session["gioiTinh"].ToString()) == 0)
                {
                    <option value="" disabled="disabled">Giới tính</option>
                    <option value="1">Nam</option>
                    <option value="0" selected="selected">Nữ</option>
                    <option value="2">Khác</option>
                }
                else
                {
                    <option value="" disabled="disabled">Giới tính</option>
                    <option value="1">Nam</option>
                    <option value="0">Nữ</option>
                    <option value="2" selected="selected">Khác</option>
                }
            </select>
        </div>
        <div class="form-group">
            @if (ViewBag.maTinh_TP != null)
            {
                @*@Html.DropDownListFor(model => model.maTinh_TP, ViewBag.maTinh_TP as SelectList, "Tỉnh/Thành Phố")*@
                @Html.DropDownList("maTinh_TP", ViewBag.maTinh_TP as SelectList, "Tỉnh/Thành Phố")
            }
        </div>
        <div class="form-group">
            @*@Html.DropDownListFor(model => model.maQuan, new SelectList(""), "Quận/Huyện")*@
            @Html.DropDownList("maQuan", new SelectList(String.Empty, "maQuan", "tenQuan"), "Please select a State")
        </div>

        <div class="form-group">
            @*@Html.DropDownListFor(model => model.maP, new SelectList(""), "Phường/Thị Trấn")*@
            @Html.DropDownList("maP", new SelectList(String.Empty, "maPhuong", "tenPhuong"), "Please select a city")
        </div>
        <div class="form-group">
            @Html.EditorFor(model => model.diaChi, new { htmlAttributes = new { @type = "text" } })
            <label class="control-label" for="input">Địa chỉ</label><i class="mtrl-select"></i>
        </div>
        <div class="submit-btns">
            <button type="button" class="mtr-btn" onclick="location.href='@Url.Action("Details", "NguoiDungs", new { id = maND })'"><span>Huỷ</span></button>
            <button type="submit" class="mtr-btn"><span>Lưu</span></button>
        </div>

    </div>
}

@*<script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script>

            var RootUrl = '@Url.Content("~/")';

            $(document).ready(function () {
                $("#maTinh_TP").change(function () {
                    var ThanhPhoID = $(this).val();
                    debugger
                    $.ajax({
                        type: "post",
                        url: RootUrl + "NguoiDung/NguoiDungs/GetQuanHuyenList?maTinh_TP=" + ThanhPhoID,
                        contentType: "html",
                        success: function (response) {
                            debugger
                            $("#maQuan").empty();
                            $("#maQuan").append(response);
                        }
                    })
                })
            })


            $(document).ready(function () {
                $("#maQuan").change(function () {
                    var QuanID = $(this).val();
                    debugger
                    $.ajax({
                        type: "post",
                        url: RootUrl + "NguoiDung/NguoiDungs/GetPhuongThiTranList?maQuan=" + QuanID,
                        contentType: "html",
                        success: function (response) {
                            debugger
                            $("#maP").empty();
                            $("#maP").append(response);
                        }
                    })
                })
            })

    </script>*@


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script type="text/javascript">

    var RootUrl = '@Url.Content("~/")';

    $(document).ready(function () {
        //Dropdownlist Selectedchange event
        $("#maTinh_TP").change(function () {
            $("#maQuan").empty();
            $.ajax({
                type: 'POST',
                url: RootUrl + 'NguoiDung/NguoiDungs/GetQHList', // we are calling json method

                dataType: 'json',

                data: { maTinh_TP: $("#maTinh_TP").val() },
                // here we are get value of selected country and passing same valueas inputto json method GetStates.

                success: function (quans) {
                    // states contains the JSON formatted list
                    // of states passed from the controller

                    $.each(quans, function (i, quan) {
                        $("#maQuan").append('<option value="' + quan.maQuan + '">' + quan.tenQuan + '</option>');
                        // here we are adding option for States

                    });

                    @*var ddlquans = $("[id*=maQuan]");
                    ddlquans.empty();
                    $.each(quans, function (i, quan) {
                        ddlquans.append('<option value="' + quan.maQuan + '">' + quan.tenQuan + '</option>');
                    });*@
                  
                },
                error: function (ex) {
                    alert('Failed to retrieve states.' + ex);
                }
            });
            return false;
        })
    });
</script>

<script type="text/javascript">

    $(document).ready(function () {
        //Dropdownlist Selectedchange event
        $("#maQuan").change(function () {
            $("#maP").empty();
            $.ajax({
                type: 'POST',
                url: RootUrl + 'NguoiDung/NguoiDungs/GetPList',
                dataType: 'json',
                data: { maQuan: $("#maQuan").val() },
                success: function (phuongs) {
                    // states contains the JSON formatted list
                    // of states passed from the controller
                    $.each(phuongs, function (i, phuong) {
                        $("#maP").append('<option value="' + phuong.maPhuong + '">' + phuong.tenPhuong + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve states.' + ex);
                }
            });
            return false;
        })
    });
</script>


