@model IEnumerable<ELF.Models.NguoiDung>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/NguoiDung/Views/Shared/_Layout_TrangCaNhan.cshtml";
    
}



<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.hoVaTen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gioiTinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dienThoai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tinh_ThanhPho.tenTinh_TP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuanHuyen.tenQuan)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.PhuongThiTran.tenPhuong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.diaChi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.avatar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ngaySinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ghiChu)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.hoVaTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gioiTinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dienThoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tinh_ThanhPho.tenTinh_TP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuanHuyen.tenQuan)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.PhuongThiTran.tenPhuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.diaChi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.avatar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ngaySinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ghiChu)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.maND }) |
                @Html.ActionLink("Details", "Details", new { id = item.maND }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.maND })
            </td>
        </tr>
    }

</table>
