@model ELF.Models.DonQua

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/NguoiDung/Views/Shared/_Layout_NguoiDung.cshtml";
    String hovatenND = Session["hoVaTen"].ToString();
    String diaChiTong = Session["DiaChiTong"].ToString();
    String diemTichLuy = Session["DiemTichLuys"].ToString();
}

<h2>@ViewBag.FileStatus</h2>

@using (Html.BeginForm("Create", "DonQuas", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="central-meta">
        <div class="editing-info">
            <h5 class="f-title"><i class="ti-gift"></i> Đổi quà tặng</h5>
            <form method="post">

                @Html.HiddenFor(model => model.MaQT, new { htmlAttributes = new { @class = "form-control", @Value = @ViewBag.maQT } })

                <input type="hidden" value="@ViewBag.diemDoi" name="diemDoi" />
                <input type="hidden" value="@ViewBag.tenQua" name="tenQua" />
                <input type="hidden" value="@ViewBag.hinhAnh" name="path" />


                @if (TempData["ErrorMessage"] != null)
                {
                    <div class="alert alert-warning">@TempData["ErrorMessage"]</div>
                }

                <div class="top-banner">
                    <h3>@ViewBag.tenQua</h3>
                </div>

                <div class="form-group">
                    <img src="~/images/resources/@ViewBag.hinhAnh" />
                </div>

                <div class="top-banner">
                    <h5>@ViewBag.diemDoi điểm</h5>
                </div>


                <div class="form-group">
                    @Html.EditorFor(model => model.MaND, new { htmlAttributes = new { @class = "form-control", @type = "text", @Value = hovatenND, @disabled = "disabled", @style = "color: black" } })
                </div>

                @if (string.IsNullOrEmpty(diaChiTong))
                {
                    <div class="form-group">
                        @Html.EditorFor(model => model.DiaChi, new
                        {
                            htmlAttributes = new
                            {
                               @type = "text",
                               @required = "",
                               @oninvalid = "this.setCustomValidity('Bạn chưa nhập địa chỉ')",
                               @oninput = "setCustomValidity('')"
                            }
                        })
                        <label class="control-label" for="input">Địa chỉ giao hàng <span class="text-danger"> *</span></label><i class="mtrl-select"></i>
                    </div>
                }
                else
                {
                    <div class="form-group">
                        @Html.EditorFor(model => model.DiaChi, new
                        {
                            htmlAttributes = new
                            {
                               @type = "text",
                               @Value = diaChiTong,
                               @required = "",
                               @oninvalid = "this.setCustomValidity('Bạn chưa nhập địa chỉ')",
                               @oninput = "setCustomValidity('')"
                            }
                        })
                        <label class="control-label" for="input">Địa chỉ giao hàng <span class="text-danger"> *</span></label><i class="mtrl-select"></i>
                    </div>
                }

                <div class="form-group">
                    <input type="number" name="soLuong" min="1" required="" oninvalid="this.setCustomValidity('Bạn chưa nhập số lượng hoặc số lượng chưa hợp lệ')" oninput="setCustomValidity('')" />
                    <label class="control-label" for="input">Số lượng muốn đổi <span class="text-danger"> *</span></label><i class="mtrl-select"></i>
                </div>

                <div class="form-group">
                    @Html.EditorFor(model => model.GhiChu, new { htmlAttributes = new { @type = "text", @placeholder = "Ví dụ: lúc đến gọi số..." } })
                    <label class="control-label" for="textarea">Ghi chú</label><i class="mtrl-select"></i>
                </div>

                <p class="text-danger">Tất cả những trường có dấu * là bắt buộc</p>


                <div class="submit-btns">
                    <button type="button" onclick="location.href='@Url.Action("Index", "QuaTangs")'" class="mtr-btn"><span>Huỷ</span></button>
                    <button type="submit" class="mtr-btn"><span>Đổi</span></button>
                </div>

            </form>
        </div>
    </div>
}


