@model ELF.Models.DonQua

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/NguoiDung/Views/Shared/_Layout_NguoiDung.cshtml";
    String hovatenND = Session["hoVaTen"].ToString();
}

<h2>@ViewBag.FileStatus</h2>

@using (Html.BeginForm("Create", "DonQuas", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="central-meta">
        <div class="editing-info">
            <h5 class="f-title"><i class="ti-gift"></i> Đổi quà tặng</h5>
            <form method="post">

                <div class="form-group">
                    <img src="~/images/@ViewBag.hinhAnh" />
                </div>

                <div class="top-banner">
                    <h3>@ViewBag.tenQua</h3>
                </div>

                <div class="form-group">
                    @Html.EditorFor(model => model.MaND, new { htmlAttributes = new { @class = "form-control", @type = "text", @Value = hovatenND, @disabled = "disabled", @style = "color: black" } })
                </div>

                @*<div class="form-group">
            @Html.DropDownList("maLQG", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.maLQG, "", new { @class = "text-danger" })
            <label class="control-label" for="input">Đồ quyên góp *</label><i class="mtrl-select"></i>
        </div>*@
                <div class="form-group">
                    @Html.EditorFor(model => model.MaQT, new
                    {
                        htmlAttributes = new
                        {
                            @type = "number",
                            @required = "",
                            @oninvalid = "this.setCustomValidity('Bạn chưa nhập số lượng')",
                            @oninput = "setCustomValidity('')"
                        }
                    })
                    @Html.ValidationMessageFor(model => model.MaQT, "", new { @class = "text-danger" })
                    <label class="control-label" for="input">Số lượng *</label><i class="mtrl-select"></i>
                </div>


                <div class="submit-btns">
                    <button type="button" onclick="location.href='@Url.Action("Index", "QuaTangs")'" class="mtr-btn"><span>Huỷ</span></button>
                    <button type="submit" class="mtr-btn"><span>Đăng ký</span></button>
                </div>
            </form>
        </div>
    </div>
}


