@model ELF.Models.DonQua

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/NguoiDung/Views/Shared/_Layout_NguoiDung.cshtml";
    String hovatenND = Session["hoVaTen"].ToString();
    String diaChiTong = Session["DiaChiTong"].ToString();
    String diemTichLuy = Session["DiemTichLuys"].ToString();
}

<h2>@ViewBag.FileStatus</h2>

@using (Html.BeginForm("Create", "DonQuas", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="central-meta">
        <div class="editing-info">
            <h5 class="f-title"><i class="ti-gift"></i> Đổi quà tặng</h5>
            <form method="post">

                @Html.HiddenFor(model => model.MaQT, new { htmlAttributes = new { @class = "form-control", @Value = @ViewBag.maQT } })

                <div class="top-banner">
                    <h3>@ViewBag.tenQua</h3>
                </div>

                <div class="form-group">
                    <img src="~/images/resources/@ViewBag.hinhAnh" />
                </div>

                <div class="top-banner">
                    <h5>@ViewBag.diemDoi điểm</h5>
                </div>

                <input type="hidden" value="@ViewBag.diemDoi" name="diemDoi" />

                <div class="form-group">
                    @Html.EditorFor(model => model.MaND, new { htmlAttributes = new { @class = "form-control", @type = "text", @Value = hovatenND, @disabled = "disabled", @style = "color: black" } })
                </div>

                @if (string.IsNullOrEmpty(diaChiTong))
                {
                    <div class="form-group">
                        @Html.EditorFor(model => model.DiaChi, new
                        {
                            htmlAttributes = new
                            {
                               @type = "text",
                               @required = "",
                               @oninvalid = "this.setCustomValidity('Bạn chưa nhập địa chỉ')",
                               @oninput = "setCustomValidity('')"
                            }
                        })
                        <label class="control-label" for="input">Địa chỉ giao hàng <span class="text-danger"> *</span></label><i class="mtrl-select"></i>
                    </div>
                }
                else
                {
                    <div class="form-group">
                        @Html.EditorFor(model => model.DiaChi, new
                        {
                            htmlAttributes = new
                            {
                               @type = "text",
                               @Value = diaChiTong,
                               @required = "",
                               @oninvalid = "this.setCustomValidity('Bạn chưa nhập địa chỉ')",
                               @oninput = "setCustomValidity('')"
                            }
                        })
                        <label class="control-label" for="input">Địa chỉ giao hàng <span class="text-danger"> *</span></label><i class="mtrl-select"></i>
                    </div>
                }

                <div class="form-group">
                    <input type="number" name="soLuong" min="1" required="" oninvalid="this.setCustomValidity('Bạn chưa nhập số lượng hoặc số lượng chưa hợp lệ')" oninput="setCustomValidity('')" />
                    <label class="control-label" for="input">Số lượng muốn đổi <span class="text-danger"> *</span></label><i class="mtrl-select"></i>
                </div>

                <div class="form-group">
                    @Html.EditorFor(model => model.GhiChu, new { htmlAttributes = new { @type = "text", @placeholder = "Ví dụ: lúc đến gọi số..." } })
                    <label class="control-label" for="textarea">Ghi chú</label><i class="mtrl-select"></i>
                </div>

                <p class="text-danger">Tất cả những trường có dấu * là bắt buộc</p>

                @if (int.Parse(diemTichLuy) < (int.Parse(ViewBag.diemDoi)))
                {
                    <button type="button" onclick="location.href='@Url.Action("Index", "QuaTangs")'" class="mtr-btn"><span>Huỷ</span></button>
                    <button type="button" class="mtr-btn" data-toggle="modal" data-target="#exampleModalCenter"><span>Đổi</span></button>

                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalCenterTitle">Thông báo</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Bạn hiện không đủ điểm để đổi quà tặng này 😥
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="submit-btns">
                        <button type="button" onclick="location.href='@Url.Action("Index", "QuaTangs")'" class="mtr-btn"><span>Huỷ</span></button>
                        <button type="submit" class="mtr-btn"><span>Đổi</span></button>
                    </div>
                }

            </form>
        </div>
    </div>
}


