@model IEnumerable<ELF.Models.DonQua>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/NguoiDung/Views/Shared/_Layout_NguoiDung.cshtml";
}

<div class="central-meta">
    <div class="groups">
        <span><i class="fa fa-file-text-o"></i> Lịch sử đổi quà</span>
    </div>

    @if (Model.Count() == 0)
    {
        <div class="error-meta">
            <h4>Bạn chưa đổi quà lần nào 😥</h4>
        </div>

    }

    <ul class="nearby-contct">
        @foreach (var item in Model)
        {
            int soLuong = (int)item.TongDiem / 1000;

            <li>
                <div class="nearly-pepls">
                    <figure>
                        <img src="~/images/resources/@item.QuaTang.hinhAnh" alt="">
                    </figure>
                    <div class="pepl-info">
                        <h4>@item.QuaTang.tenQuaTang</h4>
                        <span style="color:#545454">@soLuong cái</span>
                        @if (item.TrangThai == "Chờ xác nhận")
                        {
                            <em style="color: #545454; border: 1px solid; padding: 2px; ">@item.TrangThai</em>
                            <a href="" title="" class="add-butn" data-ripple="" data-toggle="modal" data-target="#exampleModalCenter">Huỷ đơn quà</a>

                            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalCenterTitle">Thông báo</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Bạn có chắc muốn xoá đơn đổi quà @soLuong chậu @item.QuaTang.tenQuaTang này?
                                            Bạn sẽ được hoàn lại @item.TongDiem điểm.
                                        </div>
                                        <div class="modal-footer">
                                            @using (Html.BeginForm("Delete", "DonQuas", new { id = item.MaDQ }))
                                            {
                                                @Html.AntiForgeryToken()
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
                                                <button type="submit" class="btn btn-primary">Xoá</button>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }
                        else if (item.TrangThai == "Đang giao hàng")
                        {
                            <em style="color: dodgerblue; border: 1px solid; padding: 2px; ">@item.TrangThai</em>
                        }
                        else if (item.TrangThai == "Đã hoàn tất")
                        {
                            <em style="color: green; border: 1px solid; padding: 2px; ">@item.TrangThai</em>
                        }
                        else
                        {
                            <em style="color: red; border: 1px solid; padding: 2px; ">@item.TrangThai</em>
                        }
                        <span>@item.NgayTao.ToString("dd/MM/yyyy")</span>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>
