@model ELF.Models.ChucNangTaiKhoan

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
    string TP = "";
    string Quan = "";
    string thiTran = "";

    if (Model.TaiKhoan.NguoiDung.maTinh_TP != null)
    {
        TP = Model.TaiKhoan.NguoiDung.Tinh_ThanhPho.tenTinh_TP;
    }
    if (Model.TaiKhoan.NguoiDung.maQuan != null)
    {
        Quan = Model.TaiKhoan.NguoiDung.QuanHuyen.tenQuan;
    }
    if (Model.TaiKhoan.NguoiDung.maP != null)
    {
        thiTran = Model.TaiKhoan.NguoiDung.PhuongThiTran.tenPhuong;
    }
}

<div class="usr-pnl">
    <div class="pnl-tl">
        <h4>Hồ sơ người dùng</h4>
    </div>
    <!-- Panel Title -->
    <div class="pnl-bdy billing-sec">
        <div class="row">
            <div class="col-md-6 field">
                <label>Họ và tên  <span>*</span> </label>
                <input type="text" value="@Model.TaiKhoan.NguoiDung.hoVaTen" disabled>
            </div>
            <div class="col-md-6 field">
                <label>Email <span>*</span> </label>
                <input type="text" value="@Model.TaiKhoan.email" disabled>
            </div>
            <div class="col-md-6 field">
                <label>Chức vụ tài khoản <span>*</span> </label>
                @Html.Action("list_LoaiTK", "ChucNangTaiKhoans", new { maTK = Model.ID_TaiKhoan })
            </div>
            <div class="col-md-6 field">
                <label>Số điện thoại <span>*</span> </label>
                <input type="text" placeholder="@Model.TaiKhoan.NguoiDung.dienThoai" disabled>
            </div>
            <div class="col-md-6 field">
                <label>Tỉnh/Thành phố <span>*</span> </label>
                <input type="text" placeholder="@TP" disabled>
            </div>
            <div class="col-md-6 field">
                <label>Quận/Huyện<span>*</span> </label>
                <input type="text" placeholder="@Quan" disabled>
            </div>
            <div class="col-md-6 field">
                <label>Phường/Thị trấn<span>*</span> </label>
                <input type="text" placeholder="@thiTran" disabled>
            </div>
            <div class="col-md-6 field">
                <label>Địa chỉ <span>*</span> </label>
                <input type="text" placeholder="@Model.TaiKhoan.NguoiDung.diaChi" disabled>
            </div>
            <div class="col-md-12 field">
                <label>Trạng thái tài khoản<span>*</span> </label>
                @if (Model.TaiKhoan.trangThai == true)
                {
                    <input type="text" placeholder="Đang hoạt động" disabled>
                }
                else
                {
                    <input type="text" placeholder="Bị khóa" disabled>
                }

            </div>
            <div class="col-md-6 field">
                <label>State / Province <span>*</span> </label>
                <input type="text" placeholder="">
            </div>
            <div class="col-md-6 field">
                <label>Zip / Postal Code <span>*</span> </label>
                <input type="text" value="">
            </div>

            
            <div class="usr-btns">
                @if (Model.TaiKhoan.trangThai == true)
                {
                    <a class="ad" href="@Url.Action("Edit_TT_TaiKhoan", "ChucNangTaiKhoans", new {id = Model.ID_TaiKhoan })" title="">Khóa tài khoản</a>
                }
                else
                {
                    <a class="ad" href="@Url.Action("Edit_TT_TaiKhoan", "ChucNangTaiKhoans", new {id = Model.ID_TaiKhoan })" title="">Mở khóa tài khoản</a>
                }

                <a class="ad-usr" href="#" title=""><i class="fa fa-pencil"></i> Edit</a>
            </div>
        </div>
    </div>
    <!-- Panel Body -->
</div>


<div class="popup-wrp2 crt-usr">
    <span class="pp-cls"></span>
    <div class="popup-innr sch-st" style="max-width: 845px;">
        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 500px;">
            <div class="scrl" style="overflow: hidden; width: auto; height: 500px;">
                <div class="usr-pnl">
                    <div class="pnl-bdy">
                        <div class="ad-usr-frm">
                            @using (Html.BeginForm("Create", "ChucNangTaiKhoans"))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("maTK", Model.ID_TaiKhoan)
                                @Html.Hidden("maChucNang", Model.ID)
                                <form>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h4>Cấp chức năng người dùng</h4>
                                        </div>
                                        <div class="col-md-12 field">
                                            <label>Trạng thái tài khoản<span>*</span> </label>
                                            @if (Model.TaiKhoan.trangThai == true)
                                            {
                                                <input type="text" placeholder="Đang hoạt động" disabled>
                                            }
                                            else
                                            {
                                                <input type="text" placeholder="Bị khóa" disabled>
                                            }
                                        </div>


                                        <div class="col-md-12">
                                            <h5>Chức năng tài khoản</h5>
                                        </div>
                                        @Html.Action("list_LoaiTK_checkbox", "ChucNangTaiKhoans", new { maTK = Model.ID_TaiKhoan })

                                        <div class="col-md-12">
                                            <button type="submit" class="purple-skin">Lưu thông tin</button>
                                        </div>
                                    </div>
                                </form>
                            }
                        </div>
                        <!-- Add User Form -->
                    </div>
                    <!-- Panel Body -->
                </div>
                <!-- User panel -->
            </div><div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 2px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 298.329px;"></div><div class="slimScrollRail" style="width: 2px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
        </div>
    </div>
</div>

