@model IEnumerable<ELF.Models.ChucNangTaiKhoan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<div class="usr-pnl">
    <div class="pnl-tl">
        <h4>Quản lý người dùng</h4>
        <a href="#" title="" class="crt-btn"><i class="fa fa-search"></i></a> <a href="#" title="" class="scrh-grp-btn"><i class="fa fa-plus"></i></a>
    </div>
    <!-- Panel Title -->
    <div class="pnl-bdy">
        <div class="crt-grp">
            <h4>Tìm kiếm người dùng</h4>
            <form>
                @using (@Html.BeginForm("list_user", "ChucNangTaiKhoans", FormMethod.Get))
                {
                    <i class="fa fa-user"></i>
                    <input type="text" name="keyword" placeholder="Nhập tên người dùng hoặc email...">
                    <button type="submit" class="btn1 crt-grp-btn" >Tìm kiếm</button> 
                }
                </form>
        </div>
        <!-- Creat Group Form -->
        <div class="usr-itm">
            <span class="cmpny-nm"><i class="fa fa-users"></i>ADMIN</span>
            @Html.Action("list_user", "ChucNangTaiKhoans", new { maLTK = 1 })
            <!-- Users List -->
        </div>
        <!-- User Item -->
        <div class="usr-itm">
            <span class="cmpny-nm"><i class="fa fa-users"></i> KIỂM DUYỆT</span>
            @Html.Action("list_user", "ChucNangTaiKhoans", new { maLTK = 3 })
            <!-- Users List -->
        </div>
        <div class="usr-itm">
            <span class="cmpny-nm"><i class="fa fa-users"></i> ĐƠN VỊ THU GOM</span>
            @Html.Action("list_user", "ChucNangTaiKhoans", new { maLTK = 4 })
            <!-- Users List -->
        </div>
        <div class="usr-itm">
            <span class="cmpny-nm"><i class="fa fa-users"></i> NGƯỜI DÙNG</span>
            @Html.Action("list_user", "ChucNangTaiKhoans", new { maLTK = 2 })
            <!-- Users List -->
        </div>
        <!-- User Item -->
    </div>
    <!-- Panel Body -->

</div>
<div class="popup-wrp2 srch-grp-pp">
    <span class="pp-cls"></span>
    <div class="popup-innr" style="max-width: 790px;">
        <div class="usr-pnl">
            <div class="pnl-tl">
                <h4>Search For Groups</h4>
            </div>
            <!-- Panel Title -->
            <div class="pnl-bdy paddlr50">
                <div class="srch-grp-sc">
                    <div class="grp-frm">
                        <form>
                            <input type="text" placeholder="Enter A Group Name">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                        <div class="usr-btns"> <a class="crt-grp-frm" href="#" title=""><i class="fa fa-cog"></i> Creat Group</a> <a href="#" title=""><i class="fa fa-trash"></i> Delete Group</a> </div>
                    </div>
                    <!-- Group Form -->
                   
                    <!-- Group List -->
                </div>
                <div class="crt-grp-sc">
                    <div class="grp-frm">
                        <form>
                            <input type="text" placeholder="Enter A Group Name">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                        <div class="usr-btns"> <a href="#" title=""><i class="fa fa-close"></i> Cancel</a> <a href="#" title=""><i class="fa fa-thumbs-o-up"></i> Confirm</a> </div>
                    </div>
                    <!-- Group Form -->
                    <div class="nw-grp-frm">
                        <h4>Creat New Group:</h4>
                        <form>
                            <input type="text" placeholder="Enter Group Name">
                        </form>
                    </div>
                    <div class="grps-lst slct-lst">
                        <h4>Select From Your Listings:</h4>
                        <ul>
                            <li>
                                <input type="checkbox" name="slc-grp" id="grp-slc1">
                                <label for="grp-slc1" class="grp-itm"> <img src="images/resource/bspt.jpg" alt=""> <span class="grp-inf"> <a href="#" title="">Bspotted</a> <span>Rotenturmstrasse 17 / 14</span> <span>1010,Wien</span> </span> </label>
                            </li>
                            <li>
                                <input type="checkbox" name="slc-grp" id="grp-slc2">
                                <label for="grp-slc2" class="grp-itm"> <img src="images/resource/bspt.jpg" alt=""> <span class="grp-inf"> <a href="#" title="">Bspotted</a> <span>Tegetthoffstrabe 7</span> <span>1010,Wien</span> </span> </label>
                            </li>
                        </ul>
                    </div>
                    <!-- Group List -->
                </div>
            </div>
        </div>
        <!-- User Panel -->
    </div>
</div>



