@model List<ELF.Models.ChucNangTaiKhoan>

@{
    Layout = null;
}
<ul class="usr-lst">
    @foreach (var item in Model)
    {
        string avt_BD = "";
        if (item.TaiKhoan.NguoiDung.avatar != null)
        {
            avt_BD = item.TaiKhoan.NguoiDung.avatar;
        }
        else
        {
            avt_BD = "~/images/resources/User-avatar.svg";
        }
        <li>
            <div class="usr-lst-inf">
                <img src="@Url.Content(avt_BD)" alt="" style="width: 38px">
                @if (item.TaiKhoan.trangThai == true)
                {
                    <h2><a href="@Url.Action("Details", "ChucNangTaiKhoans", new { id = item.ID })" title="">@item.TaiKhoan.NguoiDung.hoVaTen - @item.TaiKhoan.email</a></h2>
                }
                else
                {
                    <h2><a href="@Url.Action("Details", "ChucNangTaiKhoans", new { id = item.ID })" title="" style="color: red">@item.TaiKhoan.NguoiDung.hoVaTen - @item.TaiKhoan.email</a></h2>
                }

                @if (item.maLoaiTK == 1)
                {
                    <i>Admin</i>
                }
                else if (item.maLoaiTK == 2)
                {
                    <i>Người dùng</i>
                }
                else if (item.maLoaiTK == 3)
                {
                    <i>Kiểm Duyệt</i>
                }
                else if (item.maLoaiTK == 4)
                {
                    <i>Đơn vị thu gom</i>
                }
            </div>
            <div class="usr-btns">
                @if (item.TaiKhoan.trangThai == true)
                {
                    <a class="ad" href="@Url.Action("Edit_TT_TaiKhoan", "ChucNangTaiKhoans", new {id = item.ID_TaiKhoan })" title="">Khóa tài khoản</a>
                }
                else
                {
                    <a class="ad" href="@Url.Action("Edit_TT_TaiKhoan", "ChucNangTaiKhoans", new {id = item.ID_TaiKhoan })" title="">Mở khóa tài khoản</a>
                }
                <a class="ad-usr" href="@Url.Action("Details", "ChucNangTaiKhoans", new { id = item.ID })" title=""> Chi tiết</a>
            </div>
        </li>
    }
</ul>
