@model IQueryable<ELF.Models.viewModels.QuestionVM>

@{
    ViewBag.Title = "QuizTest";
    Layout = "~/Areas/NguoiDung/Views/Shared/_Layout_NguoiDung.cshtml";
    int count = 1, countR = 0;
    int maND = int.Parse(Session["maND"].ToString());
    var thoiGian = DateTime.Now;
}

<div class="central-meta">
    <div class="container">

        <div class="Quiz">

            <h4 style="margin-top: 4%; color: #c02424; font-weight: 500 "> <span class="label label-info">Câu hỏi chủ đề @TempData["tenChuDe"]:</span> </h4>

            @if (Model != null && Model.Any())
            {

                foreach (var question in Model.OrderBy(x => Guid.NewGuid()).Take(Model.Count()))
                {
                    <div class="BlockQ" style="border: 1px solid #bdbdbd; width: 100%; border-radius: 4px; margin-top: 40px; background-color: #def2f8; padding: 8px;">

                        <div class="Question" style="padding: 2%;">
                            <span class="label label-warning" style="color: #c02424; font-weight: bold; "> @string.Format("{0}{1}.", "Q", count)</span>
                            <span id="@string.Format("{0}{1}", "ID_Q", count)" style="display:none;">@question.QuestionID</span>
                            <p style="display: inline; padding: 2%; font-size: 16px; color: #2f6473;" id="@string.Format("{0}{1}", "Q", count)">@question.QuestionText</p>
                        </div>

                        <div class="Choices" style="margin-left: 8%;">

                            @foreach (var choice in question.Choices.OrderBy(x => Guid.NewGuid()).Take(4))
                            {
                                <label class="radio-inline" style="font-size: 14px">
                                    <input type="radio" name="@string.Format("{0}{1}", "inlineRadioOptions",count)" id="@string.Format("{0}{1}", "inlineRadio", countR)" value="@choice.ChoiceText" style="margin-left: -16px"> @choice.ChoiceText
                                </label><br />
                                countR++;
                            }

                        </div> <!--END Choices-->

                        <div id="@string.Format("{0}{1}{2}", "Ans","Q", count)">


                        </div>

                    </div> <!-- END BlockQ -->
                    count++;
                }
                <span id="countQuections" style="display:none;">@count</span>
                <button type="button" class="btn btn-secondary" style="margin-top: 10px; margin-right: 10px" onclick="location.href='@Url.Action("SelectQuizz", "Quizz")'">Quay về</button>
                <button type="button" id="SubmitQuiz" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" style="margin-top: 10px; background-color: #088dcd"><span class="glyphicon glyphicon-ok"></span>   Hoàn thành </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalCenterTitle">Thông báo</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" id="countR">
                                ...
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Xác nhận</button>
                                @*<button type="button" class="btn btn-primary">Save changes</button>*@
                            </div>
                        </div>
                    </div>
                </div>

                
            }

        </div> <!-- END QUIZ -->

    </div> <!-- END CONTAINER -->
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

@section MyScritps
{
    <script type="text/javascript">


        $(document).ready(function () {

            $('#SubmitQuiz').on('click', function () {

                //count Questions
                var sel = $('#countQuections').text();

                console.log(sel);

                var resultQuiz = [], countQuestion = parseInt(sel), question = {}, j = 1;
                var scoreQuiz = 0;

                var today = new Date();
                var date = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();
                var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
                var dateTime = date + ' ' + time;

                for (var i = 1; i < countQuestion; i++) {
                    question = {
                        QuestionID: $('#ID_Q'+ i).text(),
                        QuestionText: $('#Q' + i).text(),
                        AnswerQ: $('input[name=inlineRadioOptions' + i + ']:checked').val()
                    }

                    resultQuiz.push(question);
                }

                $.ajax({

                    type: 'POST',
                    url: '@Url.Action("QuizTest", "Quizz")',
                    data: { resultQuiz },

                    success: function (response) {


                        if (response.result.length > 0)
                        {
                            for(var i = 0; i <response.result.length; i++ )
                            {
                                if(response.result[i].isCorrect == true)
                                {
                                    $('#AnsQ' + j).html('<div class="alert alert-success" role="alert"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Correct answer</div>');
                                    scoreQuiz = scoreQuiz + 10;
                                }
                                else
                                {
                                    $('#AnsQ' + j).html('<div class="alert alert-danger" role="alert"> <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> Incorrect answer - The Good Answer is <b>' + response.result[i].AnswerQ + '</b></div>');
                                }
                                j++;
                            }

                            if (scoreQuiz == 0) {
                                $('#countR').html('<div class="modal-body" id="countR">Thật đáng tiếc vì tất cả câu trả lời của bạn chưa chính xác, chúc bạn làm bài tốt hơn ở lần tiếp theo !!! 😥</div>');
                            }
                            else {
                                $('#countR').html('<div class="modal-body" id="countR">Xin chúc mừng bạn đã đúng được ' + scoreQuiz / 10 + ' câu, bạn được thêm <b>' + scoreQuiz + ' điểm</b> vào điểm tích luỹ của bạn 🎁.</div>');
                            }

                             var ketQuaBaiQuiz = {};
                                ketQuaBaiQuiz.maND = @maND;
                                ketQuaBaiQuiz.maCDBQ = @TempData["maChuDe"];
                                ketQuaBaiQuiz.TongDiem = scoreQuiz;

                                $.ajax({
                                    type: 'POST',
                                    url: '@Url.Action("InsertKetQuaBaiQuiz", "Quizz")',
                                    data: JSON.stringify(ketQuaBaiQuiz),
                                    contentType: 'application/json; charset=utf-8',
                                    dataType: 'json',
                                    success: function (r) {

                                        var diemTichLuy = {};
                                        diemTichLuy.maND = @maND;
                                        diemTichLuy.thoiGian = dateTime;
                                        diemTichLuy.diem = scoreQuiz;
                                        diemTichLuy.maKQBQ = r.maKQ;

                                        $.ajax({
                                            type: 'POST',
                                            url: '@Url.Action("InsertDiemTichLuys", "Quizz")',
                                            data: JSON.stringify(diemTichLuy),
                                            contentType: 'application/json; charset=utf-8',
                                            dataType: 'json',
                                            success: function (j) {
                                                $('.tab-content').load('@Url.Action("TongDTL_header", "DiemTichLuys")');
                                            }
                                        });
                                    }
                                });

                            $("#SubmitQuiz").hide();
                        }
                        else
                        {
                            alert("Something Wrong");
                        }


                        //console.log(response.result.length);

                    },
                    error: function (response) {

                    }
                });

                console.log(resultQuiz);
            });



        });

    </script>
}

