@model IEnumerable<ELF.Models.BaiDangSanPham>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/NguoiDung/Views/Shared/_Layout_NguoiDung.cshtml";
    string avt = "";
    int maND = int.Parse(Session["maND"].ToString());
    string name = Session["HoVaTen"].ToString();
    if (Session["avatar"] != null)
    {
        avt = Session["avatar"].ToString();
    }
    else
    {
        avt = "~/images/resources/User-avatar.svg.png";
    }

    
}
<head>
    <link href="~/css/style_btn.css" rel="stylesheet" />
    <script src='https://cdn.jsdelivr.net/npm/gsap@3.0.1/dist/gsap.min.js'></script>
    <script src="~/js/script_btn.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>



<div class="central-meta">




    <div class="new-postbox">
        <figure>
            <img src="@Url.Content(avt)" alt="">
        </figure>
        <div class="newpst-input">
            <form method="post">
                <textarea rows="2" placeholder="write something"></textarea>
                <div class="attachments">
                    <ul>
                        <li>
                            <i class="fa fa-music"></i>
                            <label class="fileContainer">
                                <input type="file">
                            </label>
                        </li>
                        <li>
                            <i class="fa fa-image"></i>
                            <label class="fileContainer">
                                <input type="file">
                            </label>
                        </li>
                        <li>
                            <i class="fa fa-video-camera"></i>
                            <label class="fileContainer">
                                <input type="file">
                            </label>
                        </li>
                        <li>
                            <i class="fa fa-camera"></i>
                            <label class="fileContainer">
                                <input type="file">
                            </label>
                        </li>
                        <li>
                            <button type="button" class="btn-block">Open Modal</button>
                            <div class="modal fade" id="myModal" role="dialog" data-url="@Url.Action("Create","BaiDangSanPhams")"></div>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</div> <!-- add post new box -->
@foreach (var item in Model)
{

    string avt_BD = "";
    if (item.NguoiDung.avatar != null)
    {
        avt_BD = item.NguoiDung.avatar;
    }
    else
    {
        avt_BD = "~/images/resources/User-avatar.svg.png";
    }

    int flat = -100;
    string maTD = "";
    if (item.maND != maND)
    {
        flat = item.TraoDois.Where(td => td.maBDSP == item.maBDSP).Where(td => td.maND == maND).Select(td => td).Count();
         maTD = (item.TraoDois.Where(td => td.maBDSP == item.maBDSP).Where(td => td.maND == maND).Select(td => td.maTD).FirstOrDefault().ToString());

    } <div class="central-meta item">
        <div class="user-post">
            <div class="friend-info">
                <figure>
                    <img src="@Url.Content(avt_BD)" alt="">
                </figure>
                <div class="friend-name">
                    <ins><a href="time-line.html" title="">@item.NguoiDung.hoVaTen</a></ins>
                    <span>published: @item.ngayDang</span>



                    @* <div class="more">
                            <div class="more-post-optns">
                                <i class="ti-more-alt"></i>
                                <ul>
                                    <li><i class="fa fa-pencil-square-o"></i>Embed</li>
                                    <li><i class="fa fa-share-square-o"></i>Share</li>
                                    <li><i class="fa fa-bell-slash-o"></i>Mute</li>
                                    <li><i class="fa fa-folder"></i>view hidden replies</li>
                                    <li><i class="fa fa-wpexplorer"></i>Report post</li>
                                    <li><i class="fa fa-bell-slash-o"></i>Block</li>
                                </ul>
                            </div>
                        </div>*@
                </div>
                <div class="post-meta">
                    <img src="@Url.Content(item.hinhAnh)" alt="">

                   @* <div>
                        <button class="truck-button">
                            <span class="default">Complete Order</span>
                            <span class="success">
                                Order Placed
                                <svg viewBox="0 0 12 10">
                                    <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                </svg>
                            </span>
                            <div class="truck">
                                <div class="wheel"></div>
                                <div class="back"></div>
                                <div class="front"></div>
                                <div class="box"></div>
                            </div>
                        </button>
                    </div>*@

                    @if (flat == 1)
                    {
                        using (Html.BeginForm("Delete", "TraoDois"))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("id", maTD)
                            <button type="submit"> Đã đăng kí </button>
                        }
                    }
                    else if (flat == -100)
                    {

                    }
                    else
                    {
                        using (Html.BeginForm("Create", "TraoDois"))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("maND", maND)
                            @Html.Hidden("maNDKhac", item.maND)
                            @Html.Hidden("maBDSP", item.maBDSP)
                            <button type="submit"> Đăng kí </button>
                        }

                    }

                    <div class="description">

                        <span style="color: orangered ; font-size: 16px">
                            Tên sản phẩm: @item.tenSP
                        </span>
                        <br />
                        <span style="color: red; font-size: 16px"> Giá sản phẩm: @item.gia đ</span>
                        <p>
                            @item.noiDung
                        </p>
                    </div>
                </div>
            </div>

            <div class="coment-area">
                <ul class="we-comet">
                    <li>
                        <a href="@Url.Action("Index","BinhLuans",
                                new { maBDSP = item.maBDSP, 
                                tenNguoiDang = item.NguoiDung.hoVaTen,
                                ngayDang = item.ngayDang,
                                tenSP=item.tenSP,
                                noiDung=item.noiDung,
                                hinhAnh=item.hinhAnh,
                                giaBan = item.gia,
                                avt_BD = avt_BD,
                                flat = flat,
                                maTD = maTD})" title="" class="showmore underline">more comments</a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $('.btn-block').click(function () {

            var url = $('#myModal').data('url');
            $.get(url, function (data) {

                $("#myModal").html(data);
                $("#myModal").modal('show')

            });
        });
    });
</script>


