
@model IEnumerable<ELF.Models.BaiDangSanPham>
@{
    ViewBag.Title = "Index_BDSP_one";
    Layout = "~/Areas/NguoiDung/Views/Shared/_Layout_NguoiDung.cshtml";
    int maND = int.Parse(Session["maND"].ToString());
    int hidden = 0;

    string avt = "";
    string name = Session["HoVaTen"].ToString();
    if (Session["avatar"] != null)
    {
        avt = Session["avatar"].ToString();
    }
    else
    {
        avt = "~/images/resources/User-avatar.svg";
    }
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="~/css/style_btn.css" rel="stylesheet" />
<script src='https://cdn.jsdelivr.net/npm/gsap@3.0.1/dist/gsap.min.js'></script>

@foreach (var item in Model)
{
    hidden = item.maTT;
    string avt_BD = "";
    if (item.NguoiDung.avatar != null)
    {
        avt_BD = item.NguoiDung.avatar;
    }
    else
    {
        avt_BD = "~/images/resources/User-avatar.svg";
    }

    int flat = -100;
    int maTD = -1;
    if (item.maND != maND)
    {
        flat = item.TraoDois.Where(td => td.maBDSP == item.maBDSP).Where(td => td.maND == maND).Select(td => td).Count();
        maTD = int.Parse((item.TraoDois.Where(td => td.maBDSP == item.maBDSP).Where(td => td.maND == maND).Select(td => td.maTD).FirstOrDefault().ToString()));

    }
    <div class="central-meta item">
        <div class="user-post">
            <div class="friend-info">
                <figure>
                    <img src="@Url.Content(avt_BD)" alt="">
                </figure>
                <div class="friend-name">
                    @if (maND != item.maND)
                    {
                        <ins>
                            <a href="@Url.Action("Index_TrangCaNhan_NDK", "BaiDangSanPhams",
                                new { maND_k = item.maND, hoVaTen_NDK = item.NguoiDung.hoVaTen,
                                avartar_NDK = item.NguoiDung.avatar })" title="">@item.NguoiDung.hoVaTen</a>
                            </ins>
                        }
                        else
                        {
                            <ins>
                                <a href="@Url.Action("Index_TrangCaNhan", "BaiDangSanPhams",
                                new { maND = item.maND })" title="">@item.NguoiDung.hoVaTen</a>
                            </ins>
                        }
                    @if (hidden == 3)
                    {
                        <span>Đã ẩn </span>
                    }
                    else
                    {
                        <span>published: @item.ngayDang</span>
                    }
                    <div>
                        <button hidden type="button" class="btn-block" data-id="@item.maBDSP">Chỉnh sửa</button>
                        <div class="modal fade" id="myModal" role="dialog" data-url="@Url.Action("Edit","BaiDangSanPhams")"></div>

                    </div>
                    <div class="more">
                        <div class="more-post-optns">
                            <i class="ti-more-alt"></i>
                            <ul>
                                <li>

                                    <button type="button" class="btn-block" data-id="@item.maBDSP">Chỉnh sửa</button>
                                    <div class="modal fade" id="myModal" role="dialog" data-url="@Url.Action("Edit","BaiDangSanPhams")"></div>


                                </li>
                                <li> @Html.ActionLink("Xóa", "Delete", new { id = item.maBDSP }, new { onclick = "return confirm('Bạn có chắc chắn muốn xóa bài Thông tin?');" })</li>
                                @if (hidden == 3)
                                {
                                    <li> @Html.ActionLink("Hiện bài đăng", "Appear", new { id = item.maBDSP }, new { onclick = "return confirm('Bạn có chắc chắn muốn hiện bài Thông tin?');" })</li>
                                }
                                else
                                {
                                    <li> @Html.ActionLink("Ẩn bài đăng", "Hidden", new { id = item.maBDSP }, new { onclick = "return confirm('Bạn có chắc chắn muốn ẩn bài Thông tin?');" })</li>
                                }

                            </ul>
                        </div>
                    </div>


                </div>
                <div class="post-meta">
                    <img src="@Url.Content(item.hinhAnh)" alt="">

                    @if (flat >= 1)
                    {
                        <div class="description">

                            <input hidden type="text" id="URL_TraoDoi" value="@Url.Action("InsertTraoDoi", "TraoDois")">
                            <input hidden type="text" id="MaND_TraoDoi" value="@maND">
                            <input hidden type="text" id="MaBDSP_TraoDoi" value="@item.maBDSP">
                            <input hidden type="text" id="maNDKhac_TraoDoi" value="@item.maND">

                            <input hidden type="text" id="URLDelete_TraoDoi" value="@Url.Action("DeleteTraoDoi", "TraoDois")">
                            <input hidden type="text" id="maTD" value="@maTD">

                            <button class="truck-button" style="float: right; margin-top: 10px;">
                                <span class="default">Đã đăng ký
                                </span>
                                <span class="success">
                                    Đăng ký trao đổi                                
                                </span>
                                <div class="truck">
                                    <div class="wheel"></div>
                                    <div class="back"></div>
                                    <div class="front"></div>
                                    <div class="box"></div>
                                </div>
                            </button>

                            <span style="color: orangered ; font-size: 16px">
                                Tên sản phẩm: @item.tenSP
                            </span>
                            <br />
                            <span style="color: red; font-size: 16px"> Giá sản phẩm: @item.gia đ</span>
                            <p>
                                @item.noiDung
                            </p>
                        </div>
                    }
                    else if (flat == -100)
                    {

                    }
                    else
                    {
                        <div class="description">

                            <input hidden type="text" id="URL_TraoDoi" value="@Url.Action("InsertTraoDoi", "TraoDois")">
                            <input hidden type="text" id="MaND_TraoDoi" value="@maND">
                            <input hidden type="text" id="MaBDSP_TraoDoi" value="@item.maBDSP">
                            <input hidden type="text" id="maNDKhac_TraoDoi" value="@item.maND">

                            <input hidden type="text" id="URLDelete_TraoDoi" value="@Url.Action("DeleteTraoDoi", "TraoDois")">
                            <input hidden type="text" id="maTD" value="@maTD">

                            <button class="truck-button" style="float: right; margin-top: 10px;">
                                <span class="default">Đăng ký trao đổi</span>
                                <span class="success">
                                    Đã đăng ký
                                    <svg viewBox="0 0 12 10">
                                        <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg>
                                </span>
                                <div class="truck">
                                    <div class="wheel"></div>
                                    <div class="back"></div>
                                    <div class="front"></div>
                                    <div class="box"></div>
                                </div>
                            </button>

                            <span style="color: orangered ; font-size: 16px">
                                Tên sản phẩm: @item.tenSP
                            </span>
                            <br />
                            <span style="color: red; font-size: 16px"> Giá sản phẩm: @item.gia đ</span>
                            <p>
                                @item.noiDung
                            </p>
                        </div>

                    }


                </div>
            </div>

            <div class="coment-area">
                <ul class="we-comet">
                    <li class="post-comment">
                        <div class="comet-avatar">
                            <img src="@Url.Content(avt)" alt="">
                        </div>
                        <div class="post-comt-box">
                            <form method="post">

                                <textarea placeholder="Post your comment" name="coment"></textarea>
                                <input hidden type="text" id="URL_CMT" value="@Url.Action("InsertBinhLuansBDSP", "BinhLuans")">
                                <input hidden type="text" id="MaND_cmt" value="@maND">
                                <input hidden type="text" id="MaBDSP_cmt" value="@item.maBDSP">
                                <input hidden type="text" id="name_cmt" value="@name">
                                <input hidden type="text" id="avt_cmt" value="@Url.Content(avt)">
                                <button type="submit">Nhấn vào đây nè</button>
                            </form>

                        </div>
                    </li>

                    @Html.Action("listComment_oneBDSP", "BinhLuans", new { maBDSP = item.maBDSP })



                </ul>
            </div>
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        $('.btn-block').click(function () {
            var url = $("#myModal").attr('data-url');
            var id = $(this).attr('data-id');

            $.get(url + '/' + id, function (data) {
                $("#myModal").html(data);
                $("#myModal").modal('show')
            });
        });
    });
</script>



