@model IEnumerable<ELF.Models.BaiDangSanPham>
@{
    ViewBag.Title = "Index_TrangCaNhan_NDK";
    Layout = "~/Areas/NguoiDung/Views/Shared/_Layout_TrangCaNhan_NguoiDungKhac.cshtml";
    int maND = int.Parse(Session["maND"].ToString());


}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


@foreach (var item in Model)
{

    string avt_BD = "";
    if (item.NguoiDung.avatar != null)
    {
        avt_BD = item.NguoiDung.avatar;
    }
    else
    {
        avt_BD = "~/images/resources/User-avatar.svg.png";
    }

    int flat = -100;
    int maTD = -1;
    if (item.maND != maND)
    {
        flat = item.TraoDois.Where(td => td.maBDSP == item.maBDSP).Where(td => td.maND == maND).Select(td => td).Count();
        maTD = int.Parse((item.TraoDois.Where(td => td.maBDSP == item.maBDSP).Where(td => td.maND == maND).Select(td => td.maTD).FirstOrDefault().ToString()));

    }<div class="central-meta item">
        <div class="user-post">
            <div class="friend-info">
                <figure>
                    <img src="@Url.Content(avt_BD)" alt="">
                </figure>
                <div class="friend-name">
                    <ins><a href="time-line.html" title="">@item.NguoiDung.hoVaTen</a></ins>
                    <span>published: @item.ngayDang</span>

                </div>
                <div class="post-meta">
                    <img src="@Url.Content(item.hinhAnh)" alt="">

                    @if (flat == 1)
                    {
                        using (Html.BeginForm("Delete", "TraoDois"))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("id", maTD)
                            <button type="submit"> Đã đăng kí </button>
                        }
                    }
                    else if (flat == -100)
                    {

                    }
                    else
                    {
                        using (Html.BeginForm("Create", "TraoDois"))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("maND", maND)
                            @Html.Hidden("maNDKhac", item.maND)
                            @Html.Hidden("maBDSP", item.maBDSP)
                            <button type="submit"> Đăng kí </button>
                        }

                    }

                    <div class="description">

                        <span style="color: orangered ; font-size: 16px">
                            Tên sản phẩm: @item.tenSP
                        </span>
                        <br />
                        <span style="color: red; font-size: 16px"> Giá sản phẩm: @item.gia đ</span>
                        <p>
                            @item.noiDung
                        </p>
                    </div>
                </div>
            </div>

            <div class="coment-area">
                <ul class="we-comet">
                    <li>
                        <a href="@Url.Action("Index_BLBDSP_TrangCaNhan","BinhLuans",
                                new { maBDSP = item.maBDSP,
                                tenNguoiDang = item.NguoiDung.hoVaTen,
                                ngayDang = item.ngayDang,
                                tenSP=item.tenSP,
                                noiDung=item.noiDung,
                                hinhAnh=item.hinhAnh,
                                giaBan = item.gia,
                                avt_BD = avt_BD,
                                flat = flat,
                                maTD = maTD})" title="" class="showmore underline">more comments</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        $('.btn-block').click(function () {
            var url = $("#myModal").attr('data-url');
            var id = $(this).attr('data-id');

            $.get(url + '/' + id, function (data) {
                $("#myModal").html(data);
                $("#myModal").modal('show')
            });
        });
    });
</script>



