@model IEnumerable<ELF.Models.BaiDangSanPham>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/NguoiDung/Views/Shared/_Layout_NguoiDung.cshtml";
    string avt = "";
    int maND = int.Parse(Session["maND"].ToString());
    string name = Session["HoVaTen"].ToString();
    if (Session["avatar"] != null)
    {
        avt = Session["avatar"].ToString();
    }
    else
    {
        avt = "~/images/resources/User-avatar.svg";
    }


}
<head>
    <script src='https://cdn.jsdelivr.net/npm/gsap@3.0.1/dist/gsap.min.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link href="~/css/button_traoDoi/style_btn2.css" rel="stylesheet" />
    <link href="~/css/button_traoDoi/style_btn.css" rel="stylesheet" />
</head>



<div class="central-meta">

    <div class="new-postbox">
        <figure>
            <img width="65" src="@Url.Content(avt)" alt="">
        </figure>
        <div class="newpst-input">
            <form method="post">
                <textarea rows="2" placeholder="write something"></textarea>
                <div class="attachments">
                    <ul>
                        <li>
                            <button type="button" class="btn-block" id="New-box" hidden></button>
                            <div class="modal fade" id="myModal" role="dialog" data-url="@Url.Action("Create","BaiDangSanPhams")"></div>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</div> <!-- add post new box -->

<div class="post-filter-sec">
    @* <form method="post" class="filter-form">
            @using (@Html.BeginForm("Index_DonQG", "KiemDuyets", FormMethod.Get))
            {
                <input type="search" placeholder="Tìm kiếm" aria-label="Search" aria-describedby="search-addon" name="keyword">
                <button><i class="ti-search"></i></button>
            }
        </form>*@

    @Html.Action("Index", "LoaiSanPhams")

</div>

@if (Model.Count() == 0)
{
    <div class="error-meta">
        <h4>Không có kết quả tìm kiếm cho <b>'@TempData["keyword"]'</b> 🤷‍♀️🤷‍♂️</h4>
    </div>
}


@foreach (var item in Model)
{

    string avt_BD = "";
    if (item.NguoiDung.avatar != null)
    {
        avt_BD = item.NguoiDung.avatar;
    }
    else
    {
        avt_BD = "~/images/resources/User-avatar.svg";
    }

    int flat = -100;
    int maTD = -1;
    if (item.maND != maND)
    {
        flat = item.TraoDois.Where(td => td.maBDSP == item.maBDSP).Where(td => td.maND == maND).Select(td => td).Count();
        maTD = int.Parse((item.TraoDois.Where(td => td.maBDSP == item.maBDSP).Where(td => td.maND == maND).Select(td => td.maTD).FirstOrDefault().ToString()));

    }

    <div class="central-meta item">
        <div class="user-post">
            <div class="friend-info">
                <figure>
                    <img width="61" src="@Url.Content(avt_BD)" alt="">
                </figure>
                <div class="friend-name">
                    @if (maND != item.maND)
                    {
                        <ins>
                            <a href="@Url.Action("Index_TrangCaNhan_NDK", "BaiDangSanPhams",
                                new { maND_k = item.maND, hoVaTen_NDK = item.NguoiDung.hoVaTen,
                                avartar_NDK = item.NguoiDung.avatar })" title="">@item.NguoiDung.hoVaTen</a>
                            </ins>
                        }
                        else
                        {
                            <ins>
                                <a href="@Url.Action("Index_TrangCaNhan", "BaiDangSanPhams",
                                new { maND = item.maND })" title="">@item.NguoiDung.hoVaTen</a>
                            </ins>
                        }

                    <span>published: @item.ngayDang</span>
                </div>
                <div class="post-meta">
                    <img src="@Url.Content(item.hinhAnh)" alt="">
                   
                    
                    <div class="description">
                        @if (flat >= 1)
                        {
                            <div class="description">

                                <input hidden type="text" id="URL_TraoDoi" value="@Url.Action("InsertTraoDoi", "TraoDois")">
                                <input hidden type="text" id="MaND_TraoDoi" value="@maND">
                                <input hidden type="text" id="maNDKhac_TraoDoi" value="@item.maND">

                                <input hidden type="text" id="URLDelete_TraoDoi" value="@Url.Action("DeleteTraoDoi", "TraoDois")">
                                <input hidden type="text" id="maTD" value="@maTD">

                                <button class="truck-button_1" id="truck-button_1_@item.maBDSP" data-id="@item.maBDSP" style="float: right; margin-top: 10px;">
                                    <span class="default">
                                        Đã đăng ký

                                    </span>

                                    <span class="success">
                                        đăng ký trao đổi

                                    </span>
                                    <div class="truck">
                                        <div class="wheel"></div>
                                        <div class="back"></div>
                                        <div class="front"></div>
                                        <div class="box"></div>
                                    </div>
                                </button>

                                <span style="color: orangered ; font-size: 16px">
                                    Tên sản phẩm: @item.tenSP
                                </span>
                                <br />
                                <span style="color: red; font-size: 16px"> Giá sản phẩm: @item.gia.ToString("#,##0") đ</span>
                                <p>
                                    @item.noiDung
                                </p>
                            </div>
                        }
                        else if (flat == -100)
                        {
                            <div class="description">
                                <span style="color: orangered ; font-size: 16px">
                                    Tên sản phẩm: @item.tenSP
                                </span>
                                <br />
                                <span style="color: red; font-size: 16px"> Giá sản phẩm: @item.gia.ToString("#,##0") đ</span>
                                <p>
                                    @item.noiDung
                                </p>
                            </div>
                        }
                        else
                        {
                            <div class="description">

                                <input hidden type="text" id="URL_TraoDoi" value="@Url.Action("InsertTraoDoi", "TraoDois")">
                                <input hidden type="text" id="MaND_TraoDoi" value="@maND">
                                <input hidden type="text" id="maNDKhac_TraoDoi" value="@item.maND">

                                <input hidden type="text" id="URLDelete_TraoDoi" value="@Url.Action("DeleteTraoDoi", "TraoDois")">
                                <input hidden type="text" id="maTD" value="@maTD">

                                <button class="truck-button" id="truck-button-@item.maBDSP" data-id="@item.maBDSP" style="float: right; margin-top: 10px;">
                                    <span class="default">Đăng ký trao đổi</span>
                                    <span class="success">
                                        Đã đăng ký
                                        <svg viewBox="0 0 12 10">
                                            <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                        </svg>
                                    </span>
                                    <div class="truck">
                                        <div class="wheel"></div>
                                        <div class="back"></div>
                                        <div class="front"></div>
                                        <div class="box"></div>
                                    </div>
                                </button>

                                <span style="color: orangered ; font-size: 16px">
                                    Tên sản phẩm: @item.tenSP
                                </span>
                                <br />
                                <span style="color: red; font-size: 16px"> Giá sản phẩm: @item.gia.ToString("#,##0") đ</span>
                                <p>
                                    @item.noiDung
                                </p>
                            </div>

                        }

                        
                    </div>
                   
                        </div>
                    </div>

                    <div class="coment-area">
                        <ul class="we-comet">
                            @Html.Action("listComment_BDSP", "BinhLuans", new { maBDSP = item.maBDSP })
                            <li>
                                <a href="@Url.Action("Index_BDSP_one", "BaiDangSanPhams",
                new
                {
                    maBDSP = item.maBDSP,
                    maND = item.maND
                })" title="" class="showmore underline">more comments</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        }

        <script type="text/javascript">
            $(document).ready(function () {
                $('.btn-block').click(function () {

                    var url = $('#myModal').data('url');
                    $.get(url, function (data) {

                        $("#myModal").html(data);
                        $("#myModal").modal('show')

                    });
                });
            });
        </script>


