@model IEnumerable<ELF.Models.BaiDangSanPham>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/NguoiDung/Views/Shared/_Layout_NguoiDung.cshtml";
    string avt = "";
    int maND = int.Parse(Session["maND"].ToString());
    string name = Session["HoVaTen"].ToString();
    if (Session["avatar"] != null)
    {
        avt = Session["avatar"].ToString();
    }
    else
    {
        avt = "~/images/resources/User-avatar.svg";
    }


}
<head>
    <link href="~/css/style_btn.css" rel="stylesheet" />
    <script src='https://cdn.jsdelivr.net/npm/gsap@3.0.1/dist/gsap.min.js'></script>
    <script src="~/js/script_btn.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>



<div class="central-meta">

    <div class="new-postbox">
        <figure>
            <img width="65" src="@Url.Content(avt)" alt="">
        </figure>
        <div class="newpst-input">
            <form method="post">
                <textarea rows="2" placeholder="write something"></textarea>
                <div class="attachments">
                    <ul>
                        <li>
                            <button type="button" class="btn-block" id="New-box" hidden></button>
                            <div class="modal fade" id="myModal" role="dialog" data-url="@Url.Action("Create","BaiDangSanPhams")"></div>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</div> <!-- add post new box -->

@if (Model.Count() == 0)
{
    <div class="error-meta">
        <h4>Không có kết quả tìm kiếm cho <b>'@TempData["keyword"]'</b> 🤷‍♀️🤷‍♂️</h4>
    </div>
}


@foreach (var item in Model)
{

    string avt_BD = "";
    if (item.NguoiDung.avatar != null)
    {
        avt_BD = item.NguoiDung.avatar;
    }
    else
    {
        avt_BD = "~/images/resources/User-avatar.svg";
    }

    int flat = -100;
    int maTD = -1;
    if (item.maND != maND)
    {
        flat = item.TraoDois.Where(td => td.maBDSP == item.maBDSP).Where(td => td.maND == maND).Select(td => td).Count();
        maTD = int.Parse((item.TraoDois.Where(td => td.maBDSP == item.maBDSP).Where(td => td.maND == maND).Select(td => td.maTD).FirstOrDefault().ToString()));

    }

    <div class="central-meta item">
        <div class="user-post">
            <div class="friend-info">
                <figure>
                    <img src="@Url.Content(avt_BD)" alt="">
                </figure>
                <div class="friend-name">
                    @if (maND != item.maND)
                    {
                        <ins>
                            <a href="@Url.Action("Index_TrangCaNhan_NDK", "BaiDangSanPhams",
                                new { maND_k = item.maND, hoVaTen_NDK = item.NguoiDung.hoVaTen,
                                avartar_NDK = item.NguoiDung.avatar })" title="">@item.NguoiDung.hoVaTen</a>
                            </ins>
                        }
                        else
                        {
                            <ins>
                                <a href="@Url.Action("Index_TrangCaNhan", "BaiDangSanPhams",
                                new { maND = item.maND })" title="">@item.NguoiDung.hoVaTen</a>
                            </ins>
                        }

                    <span>published: @item.ngayDang</span>

                </div>
                <div class="post-meta">
                    <img src="@Url.Content(item.hinhAnh)" alt="">



                    <div class="description">
                        @if (flat == 1)
                        {
                            using (Html.BeginForm("Delete", "TraoDois"))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("id", maTD)
                                @*<button type="submit" style="float: right; margin-top: 10px;"> Đã đăng kí </button>*@

                                <button type="submit" class="mtr-btn" style="float: right; margin-top: 10px;"><span>Đã đăng kí</span></button>


                            }
                        }
                        else if (flat == -100)
                        {

                        }
                        else
                        {
                            using (Html.BeginForm("Create", "TraoDois"))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("maND", maND)
                                @Html.Hidden("maNDKhac", item.maND)
                                @Html.Hidden("maBDSP", item.maBDSP)
                                @* <button type="submit" style="float: right; margin-top: 10px;"> Đăng kí </button>*@

                                <button type="submit" class="mtr-btn" style="float: right; margin-top: 10px;"><span>Đăng kí</span></button>


                            }

                        }
                        <span style="color: orangered ; font-size: 16px">
                            Tên sản phẩm: @item.tenSP
                        </span>
                        <br />
                        <span style="color: red; font-size: 16px"> Giá sản phẩm: @item.gia đ</span>
                        <p>
                            @item.noiDung
                        </p>
                    </div>
                </div>
            </div>

            @*  <div class="coment-area">
                    <ul class="we-comet">
                        <li>
                            <a href="@Url.Action("Index", "BinhLuans",
        new
        {
            maBDSP = item.maBDSP,
            tenNguoiDang = item.NguoiDung.hoVaTen,
            ngayDang = item.ngayDang,
            tenSP = item.tenSP,
            noiDung = item.noiDung,
            hinhAnh = item.hinhAnh,
            giaBan = item.gia,
            avt_BD = avt_BD,
            flat = flat,
            maTD = maTD,
            maND_BDSP = item.maND
        })" title="" class="showmore underline">more comments</a>
                        </li>

                    </ul>
                </div>*@
            @Html.Action("listComment", "BinhLuans", new { maBDSP = item.maBDSP })
          
        </div>
    </div>
}




<script type="text/javascript">
    $(document).ready(function () {
        $('.btn-block').click(function () {

            var url = $('#myModal').data('url');
            $.get(url, function (data) {

                $("#myModal").html(data);
                $("#myModal").modal('show')

            });
        });
    });
</script>

@*
    <script type="text/javascript">

        $(document).ready(function () {
            jQuery(".post-comt-box textarea").on("keydown", function (event) {
                if (event.keyCode == 13) {
                
                    var txtComent = $("#coment");
                    var txtMaBDSP = $("#MaBDSP_cmt");

                    var today = new Date();
                    var date = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();
                    var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
                    var dateTime = date + ' ' + time;
                    //count Questions
                    var binhLuanBDSP = {};
                    binhLuanBDSP.noiDung = txtComent.val();
                    binhLuanBDSP.maND = @maND;
                binhLuanBDSP.maBDSP = txtMaBDSP.val();
                binhLuanBDSP.ngayBL = dateTime.val();
                    binhLuanBDSP.trangThai = "Hien".val();

                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("InsertBinhLuansBDSP", "BinhLuans")',
                        data: JSON.stringify(binhLuanBDSP),
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',
                        success: function (r) {
                            alert("haha");
                        }
                    });
                });
        }

    </script>



*@