@model ELF.Models.BaiDangThongTin

@using (Html.BeginForm("Create", "KD_BaiDangs", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-dialog">
        <div class="modal-content" style="width:700px">
            <div class="modal-header">
                <h5 class="f-title"><i class="ti-info-alt"></i>Đăng bài ELF</h5>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    @Html.EditorFor(model => model.tieuDe, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.tieuDe, "", new { @class = "text-danger" })
                    <label class="control-label" for="input">Tiêu đề</label>
                    <i class="mtrl-select"></i>
                </div>

                <div class="form-group">
                    @Html.TextAreaFor(model => model.noiDung, new { htmlAttributes = new { style = "height: 100px;", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.noiDung, "", new { @class = "text-danger" })
                    <label class="control-label" for="textarea">Mô tả</label>
                    <i class="mtrl-select"></i>
                </div>
                <div class="form-group">
                    <div class="input-group js-input-file">
                        @*<input class="input-file" type="file" name="file_cv" id="file">*@
                        <input accept="image/*" type="file" name="img" id="imgInp"><br>
                        <img id="blah" src="#" width="200" alt="Image preview...">
                        <label class="control-label" for="textarea">Hình ảnh</label>
                        <script>
                            imgInp.onchange = evt => {
                                const [file] = imgInp.files
                                if (file) {
                                    blah.src = URL.createObjectURL(file)
                                }
                            }
                        </script>

                    </div>
                    <div class="modal-footer">

                        <button type="button" class="mtr-btn" data-dismiss="modal"><span>Hủy</span></button>
                        <button type="submit" class="mtr-btn"><span>Đăng</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
