@model IEnumerable<ELF.Models.BaiDangThongTin>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/KiemDuyets/Views/Shared/_Layout_NguoiKiemDuyet.cshtml";
    
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<div class="central-meta">
    <div class="new-postbox">
        <div class="newpst-input">
            <form method="post">
                <textarea rows="2" placeholder="write something"></textarea>
                <div class="attachments">
                    <ul>

                        <li>
                            <button type="button" class="btn-block" id="New-box" hidden></button>
                            <div class="modal fade" id="myModal" role="dialog" data-url="@Url.Action("Create","KD_BaiDangs")"></div>
                        </li>
                    </ul>
                </div>
            </form>
            @*<button type="button" class="btn-block">Open Modal</button>
                <div class="modal fade" id="myModal" role="dialog" data-url="@Url.Action("Create","KD_BaiDangs")"></div>*@

        </div>
    </div>
</div> <!-- add post new box -->
@foreach (var item in Model)
{
    string avt_BD = "";
    if (item.NguoiDung.avatar != null)
    {
        avt_BD = item.NguoiDung.avatar;
    }
    else
    {
        avt_BD = "~/images/resources/User-avatar.svg";
    }
    <div class="central-meta item">
        <div class="user-post">
            @if (item.hinhAnh == null)
            {
                <div class="friend-info">
                    @if (item.ghiChu == "ELF")
                    {
                        <figure>
                            <img src="~/images/resources/admin.jpg" />
                        </figure>
                        <div class="friend-name">

                            <a class="admin" href="#" title=""><b style="color: darkgreen">ELF</b></a>
                            <div>
                                <button hidden type="button" class="btn-block1" data-id="@item.maBDTT">Chỉnh sửa</button>
                                <div class="modal fade" id="myModal1" role="dialog" data-url="@Url.Action("Edit", "KD_BaiDangs")"></div>

                            </div>
                            <div class="more">
                                <div class="more-post-optns">
                                    <i class="ti-more-alt"></i>
                                    <ul>
                                        <li>

                                            <button type="button" class="btn-block1" data-id="@item.maBDTT">Chỉnh sửa</button>
                                            <div class="modal fade" id="myModal1" role="dialog" data-url="@Url.Action("Edit","KD_BaiDangs")"></div>
                                        </li>
                                        <li> @Html.ActionLink("Xóa", "Delete", new { id = item.maBDTT }, new { onclick = "return confirm('Bạn có chắc chắn muốn xóa bài Thông tin?');" })</li>
                                        @if (item.maTT == 3)
                                        {
                                            <li> @Html.ActionLink("Hiện bài đăng", "Appear", new { id = item.maBDTT }, new { onclick = "return confirm('Bạn có chắc chắn muốn hiện bài Sản Phẩm?');" })</li>
                                        }
                                        else
                                        {
                                            <li> @Html.ActionLink("Ẩn bài đăng", "Hidden", new { id = item.maBDTT }, new { onclick = "return confirm('Bạn có chắc chắn muốn ẩn bài Sản Phẩm?');" })</li>
                                        }

                                    </ul>
                                </div>
                            </div>
                        </div>

                    }
                    else
                    {
                        <figure>
                            <img width="65" src="@Url.Content(avt_BD)" alt="">
                        </figure>
                        <div class="friend-name">

                            <a class="admin" href="#" title=""><b style="color: black">@item.NguoiDung.hoVaTen</b></a>
                            <div>
                                <button hidden type="button" class="btn-block1" data-id="@item.maBDTT">Chỉnh sửa</button>
                                <div class="modal fade" id="myModal1" role="dialog" data-url="@Url.Action("Edit", "KD_BaiDangs")"></div>

                            </div>
                            <div class="more">
                                <div class="more-post-optns">
                                    <i class="ti-more-alt"></i>
                                    <ul>
                                        <li>

                                            <button type="button" class="btn-block1" data-id="@item.maBDTT">Chỉnh sửa</button>
                                            <div class="modal fade" id="myModal1" role="dialog" data-url="@Url.Action("Edit","KD_BaiDangs")"></div>


                                        </li>
                                        <li> @Html.ActionLink("Xóa", "Delete", new { id = item.maBDTT }, new { onclick = "return confirm('Bạn có chắc chắn muốn xóa bài Thông tin?');" })</li>
                                        @if (item.maTT == 3)
                                        {
                                            <li> @Html.ActionLink("Hiện bài đăng", "Appear", new { id = item.maBDTT }, new { onclick = "return confirm('Bạn có chắc chắn muốn hiện bài Sản Phẩm?');" })</li>
                                        }
                                        else
                                        {
                                            <li> @Html.ActionLink("Ẩn bài đăng", "Hidden", new { id = item.maBDTT }, new { onclick = "return confirm('Bạn có chắc chắn muốn ẩn bài Sản Phẩm?');" })</li>
                                        }

                                    </ul>
                                </div>
                            </div>
                        </div>


                    }

                    <div class="post-meta">
                        <div class="description">
                            <a style="color: red; font-size: 22px;" href="@Url.Action("Index_BDTT_one", "KD_BaiDangs", new {maND =item.maND, maBDTT = item.maBDTT })"><br /> @item.tieuDe</a>
                            <br />
                            <p>
                                @item.noiDung
                            </p>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="friend-info">
                    @if (item.ghiChu == "ELF")
                    {
                        <figure>
                            <img src="~/images/resources/admin.jpg" />
                        </figure>
                        <div class="friend-name">

                            <a class="admin" href="#" title=""><b style="color: darkgreen">ELF</b></a>
                            <div>
                                <button hidden type="button" class="btn-block1" data-id="@item.maBDTT">Chỉnh sửa</button>
                                <div class="modal fade" id="myModal1" role="dialog" data-url="@Url.Action("Edit", "KD_BaiDangs")"></div>

                            </div>
                            <div class="more">
                                <div class="more-post-optns">
                                    <i class="ti-more-alt"></i>
                                    <ul>
                                        <li>

                                            <button type="button" class="btn-block1" data-id="@item.maBDTT">Chỉnh sửa</button>
                                            <div class="modal fade" id="myModal1" role="dialog" data-url="@Url.Action("Edit","KD_BaiDangs")"></div>


                                        </li>
                                        <li> @Html.ActionLink("Xóa", "Delete", new { id = item.maBDTT }, new { onclick = "return confirm('Bạn có chắc chắn muốn xóa bài Thông tin?');" })</li>
                                        @if (item.maTT == 3)
                                        {
                                            <li> @Html.ActionLink("Hiện bài đăng", "Appear", new { id = item.maBDTT }, new { onclick = "return confirm('Bạn có chắc chắn muốn hiện bài Sản Phẩm?');" })</li>
                                        }
                                        else
                                        {
                                            <li> @Html.ActionLink("Ẩn bài đăng", "Hidden", new { id = item.maBDTT }, new { onclick = "return confirm('Bạn có chắc chắn muốn ẩn bài Sản Phẩm?');" })</li>
                                        }

                                    </ul>
                                </div>
                            </div>

                        </div>

                    }
                    else
                    {
                        <figure>
                            <img width="65" src="@Url.Content(avt_BD)" alt="">
                        </figure>
                        <div class="friend-name">

                            <a class="admin" href="#" title=""><b style="color: black">@item.NguoiDung.hoVaTen</b></a>

                            <div>
                                <button hidden type="button" class="btn-block1" data-id="@item.maBDTT">Chỉnh sửa</button>
                                <div class="modal fade" id="myModal1" role="dialog" data-url="@Url.Action("Edit", "KD_BaiDangs")"></div>

                            </div>
                            <div class="more">
                                <div class="more-post-optns">
                                    <i class="ti-more-alt"></i>
                                    <ul>
                                        <li>

                                            <button type="button" class="btn-block1" data-id="@item.maBDTT">Chỉnh sửa</button>
                                            <div class="modal fade" id="myModal1" role="dialog" data-url="@Url.Action("Edit","KD_BaiDangs")"></div>


                                        </li>
                                        <li> @Html.ActionLink("Xóa", "Delete", new { id = item.maBDTT }, new { onclick = "return confirm('Bạn có chắc chắn muốn xóa bài Thông tin?');" })</li>
                                        @if (item.maTT == 3)
                                        {
                                            <li> @Html.ActionLink("Hiện bài đăng", "Appear", new { id = item.maBDTT }, new { onclick = "return confirm('Bạn có chắc chắn muốn hiện bài Sản Phẩm?');" })</li>
                                        }
                                        else
                                        {
                                            <li> @Html.ActionLink("Ẩn bài đăng", "Hidden", new { id = item.maBDTT }, new { onclick = "return confirm('Bạn có chắc chắn muốn ẩn bài Sản Phẩm?');" })</li>
                                        }

                                    </ul>
                                </div>
                            </div>

                        </div>

                    }
                </div>

                <div class="l-post">
                    <figure>
                        <img src="@Url.Content(item.hinhAnh)" alt="">
                    </figure>
                    <div class="l-post-meta">
                        <h4><a title="" style="color: red"  href="@Url.Action("Index_BDTT_one", "KD_BaiDangs", new {maND =item.maND, maBDTT = item.maBDTT })">@item.tieuDe</a></h4>
                        <div class="l-post-ranking">

                            <a class="pdate" href="#" title="">@item.ngayDang</a>

                        </div>
                        <p>
                            @item.noiDung
                        </p>



                        <a href="#" title="" class="read">Read More</a>
                    </div>
                </div>
            }
        </div>
    </div>

}


<script type="text/javascript">
    $(document).ready(function () {
        $('.btn-block').click(function () {

            var url = $('#myModal').data('url');
           

            $.get(url, function (data) {

                $("#myModal").html(data);
                $("#myModal").modal('show')

            });
        });

            $('.btn-block1').click(function () {
                var url = $("#myModal1").attr('data-url');
                var id = $(this).attr('data-id');

                $.get(url + '/' + id, function (data) {
                    $("#myModal1").html(data);
                    $("#myModal1").modal('show')
                });
            });
    });
</script>

