@model ELF.Models.KetQua

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/NguoiDung/Views/Shared/_Layout_NguoiDung.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>KetQua</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TongDiem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TongDiem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChuDeBaiQuiz.tenChuDe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChuDeBaiQuiz.tenChuDe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NguoiDung.hoVaTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NguoiDung.hoVaTen)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
