@model IEnumerable<ELF.Models.BaiDangSanPham>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/KiemDuyet/Views/Shared/_Layout_NguoiKiemDuyet.cshtml";
}
<div class="central-meta">
    <div class="groups">
        <span><i class="fa fa-file-text-o"></i> Your Liked Pages</span>
    </div>
    <ul class="liked-pages">
        @foreach (var item in Model)
        {
        <li>
            <div class="f-page">
                <figure>
                    <a href="#" title=""><img src="@Url.Content(item.hinhAnh)" alt=""></a>
                    <div class="dropdown pgs">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="ti-check"></i>liked
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                            <button class="dropdown-item" type="button">Dislike</button>
                        </div>
                    </div>
                    <em>Chi tiết</em>
                </figure>
                <div class="page-infos">
                    <h5><a href="#" title="">Tên sản phẩm: @item.tenSP</a></h5>
                    <span><a href="#" title="">Giá sản phẩm: @item.gia</a></span>
                </div>
            </div>
            <a class="compose-btn" title="" href="#">Compose</a>
        </li>
        }


    </ul>
    <div class="lodmore"><button class="btn-view btn-load-more"></button></div>
</div><!-- photos -->
	

@*						
@foreach (var item in Model)
{

    string avt_BD = "";
    if (item.NguoiDung.avatar != null)
    {
        avt_BD = item.NguoiDung.avatar;
    }
    else
    {
        avt_BD = "~/images/resources/User-avatar.svg.png";
    }


    <div class="central-meta item">
        <div class="user-post">
            <div class="friend-info">
                <figure>
                    <img src="@Url.Content(avt_BD)" alt="">
                </figure>
                <div class="friend-name">

                    <ins><a href="@Url.Action("Index_TrangCaNhan", "BaiDangSanPhams", new { maND = item.maND })" title="">@item.NguoiDung.hoVaTen</a></ins>


                    <span>published: @item.ngayDang</span>

                </div>
                <div class="post-meta">
                    <img src="@Url.Content(item.hinhAnh)" alt="">



                    <div class="description">
                        <span style="color: orangered ; font-size: 16px">
                            Tên sản phẩm: @item.tenSP
                        </span>
                        <br />
                        <span style="color: red; font-size: 16px"> Giá sản phẩm: @item.gia đ</span>
                        <p>
                            @item.noiDung
                        </p>
                    </div>
                </div>
            </div>


        </div>
    </div>
}
*@