<html lang="en">
<!--<![endif]-->
<head>

    <!-- Meta-Information -->
    <title>Winku Social Admin Panel Html5</title>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Vendor: Bootstrap Stylesheets http://getbootstrap.com -->
    <link href="~/css/Admin/bootstrap.min.css" rel="stylesheet" />

    <!-- Our Website CSS Styles -->
    <link href="~/css/Admin/color.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/css/Admin/main-style.css" rel="stylesheet" />
    <link href="~/css/Admin/owl.carousel.css" rel="stylesheet" />
    <link href="~/css/Admin/responsive.css" rel="stylesheet" />
    <link href="~/css/Admin/wickedpicker.css" rel="stylesheet" />

</head>
<body class="menu-active">
    <div class="panel-layout wide-content">
        <div class="top-bar">
            <div class="logo"> <a href="index.html" title=""><img src="~/images/logo.png" alt=""></a> </div>
            <div class="menu-options active"><span class="menu-action"><i></i></span></div>
            <div class="quick-links">
                <ul>
                    <li>
                        <a title="" class="show-status"><i class="fa fa-cog" style="margin: 7px"></i></a>
                        <div class="noti-lst setting">
                            <div class="noti-tp"> <span>profile setting</span></div>
                            <ul>
                                <li><a href="" title=""><i class="fa fa-user"></i>your profile</a></li>
                                <li><a href="" title=""><i class="fa fa-edit"></i>Edit profile</a></li>
                                <li><a href="" title=""><i class="fa fa-question-circle"></i>Get Help</a></li>
                                <li><a href="" title=""><i class="fa fa-sign-out"></i>Log out</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a title="" id="toolFullScreen" class=""><i class="fa fa-arrows-alt" style="margin: 7px"></i></a></li>
                    <li><a title="" class="refresh-page"><i class="fa fa-refresh" style="margin: 7px"></i></a></li>
                    <li><a title="" class="right-menu-btn"><i class="fa fa-align-right" style="margin: 7px"></i></a></li>
                </ul>
            </div>
            <form class="search-form">
                <input type="text" placeholder="Search Here...">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <!-- Top Bar -->

        <div class="right-menu">
            <div class="admin-area">
                <div class="admin-avatar"> <img src="~/images/resource/right-menu-admin.jpg" alt=""> </div>
                <div class="admin-info">
                    <span>welcome</span>
                    <h5>Stephen N. Arellano</h5>
                </div>
            </div>
            <ul class="admin-menu">
                <li><a href="#" title=""><i><img src="~/images/icon-4.png" alt=""></i>Dashboard</a></li>
                <li><a href="#" title=""><i><img src="~/images/icon-5.png" alt=""></i>layout</a></li>
                <li><a href="#" title=""><i><img src="~/images/icon-6.png" alt=""></i>mailbox <span>05</span></a></li>
                <li><a href="#" title=""><i><img src="~/images/icon-7.png" alt=""></i>forms</a></li>
                <li><a href="#" title=""><i><img src="~/images/icon-8.png" alt=""></i>tables</a></li>
                <li><a href="#" title=""><i><img src="~/images/icon-9.png" alt=""></i>maps</a></li>
            </ul>
        </div>
        <!-- right menu -->

        <header class="side-header opened-menu slide-menu sticky">
            <div class="admin-details">
                <span><img src="~/images/resources/admin1.jpg" alt=""></span>
                <h3>John doe</h3>
                <i>Web CODER</i>
                <h5 class="admin-status online">Online</h5>
            </div>
            <div class="menu-scroll">
                <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 500px;">
                    <div class="side-menus" style="overflow: hidden; width: auto; height: 500px;">
                        <span>MAIN LINKS</span>
                        <nav>
                            <ul>
                                <li><a href="index.html" title=""><i class="fa fa-dashboard"></i> Dashboard</a></li>
                                <li><a href="@Url.Action("Index","ChuDeBaiQuizs")" title=""><i class="fa fa-question-circle-o"></i> Bài Quiz</a></li>
                                <li><a href="edit-profile.html" title=""><i class="fa fa-flask"></i> edit profile</a></li>
                                <li><a href="inbox.html" title=""><i class="fa fa-flask"></i> inbox</a></li>
                                <li class="menu-item-has-children">
                                    <a href="#" title=""><i class="fa fa-flask"></i> Extras</a>
                                    <ul>
                                        <li><a href="calendar.html" title=""><i class="fa fa-inbox"></i> calendar</a></li>
                                        <li><a href="image-croper-panel.html" title=""><i class="fa fa-inbox"></i> image croper</a></li>
                                        <li><a href="link-posting-panel.html" title=""><i class="fa fa-inbox"></i> Link posting</a></li>
                                        <li><a href="notifications.html" title=""><i class="fa fa-inbox"></i> notifications</a></li>
                                        <li><a href="opener-image-posting-panel.html" title=""><i class="fa fa-inbox"></i> image opener</a></li>
                                        <li><a href="ticket2.html" title=""><i class="fa fa-inbox"></i> ticket style 1</a></li>
                                        <li><a href="ticket3.html" title=""><i class="fa fa-inbox"></i> ticket style 2</a></li>
                                        <li><a href="reviews.html" title=""><i class="fa fa-gift"></i> reviews</a></li>
                                    </ul>
                                </li>
                                <li><a href="location-management.html" title=""><i class="fa fa-inbox"></i> location system</a></li>
                                <li><a href="@Url.Action("List_DTL","DiemTichLuys")" title=""><i class="fa fa-hdd-o"></i>Điểm tích lũy</a></li>
                                <li><a href="post-preview-page.html" title=""><i class="fa fa-glass"></i> post preview page</a></li>
                                <li><a href="@Url.Action("Index","QuaTangs")" title=""><i class="fa fa-gift"></i> Quà tặng</a></li>
                                <li><a href="@Url.Action("Index","ChucNangTaiKhoans")" title=""><i class="fa fa-hdd-o"></i> Quản lý người dùng</a></li>
                            </ul>
                        </nav>
                    </div><div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 2px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 500px;"></div><div class="slimScrollRail" style="width: 2px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
                </div>
            </div>
            <!-- Menu Scroll -->
        </header>
        <!-- side header -->

        <div class="panel-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="profile-sec">
                        <div class="profile-banner-sec">
                            <ul>
                                <li>
                                    <input accept="image/*" type="file" name="file-1[]" id="file-1" class="new-img inputfile inputfile-1" data-multiple-caption="{count} files selected" multiple="">
                                    <label for="file-1"><i class="fa fa-picture-o"></i><span>Choose a file</span></label>
                                </li>
                                <li><a href="edit-profile.html" title=""><i class="fa fa-pencil"></i> Edit Profile</a></li>
                            </ul>

                            <img src="~/images/resources/banner.jpg" alt="">
                        </div>
                        <div class="user-bar" id="bar-tops">
                            <div class="user-thumb"> <img src="~/images/resources/admin1.jpg" alt=""> </div>

                            <a title="" class="purple-skin"><i class="fa fa-heart-o"></i> Follow</a>
                            <ul>
                                <li> 1,245 <span>Followers</span> </li>
                                <li> 535 <span>Projects</span> </li>
                                <li> 994 <span>Following</span> </li>
                            </ul>
                            <div class="notif">
                                <span><img src="~/images/icon-bell.png" alt=""><i>3</i></span>
                                <div class="noti-lst">
                                    <div class="noti-tp"> <span>Notifications</span> </div>
                                    <div class="noti-bd">
                                        <ul>
                                            <li class="rd-noti"><a href="#" title=""><strong>Alexander</strong></a> Liked <a href="#" title="">Zebra Styling Of Activity Feed Items</a> with <a href="#" title="">Css3 I BP Triks.</a> <span>15 Min Ago</span> <i>Read</i></li>
                                            <li class="unrd-noti"><a href="#" title=""><strong>BuddyPress</strong> Using Dropbox To Host Your On WordPress Theme! BP-Tricks</a> <span>30 Min Ago</span> <i>Unread</i></li>
                                            <li class="unrd-noti"><a href="#" title=""><strong>BP-Tricks:</strong> Sharing BuddyPress Knowledge made eassy!</a> <span>12 Hours Ago</span> <i>Unread</i></li>
                                            <li class="unrd-noti"><a href="#" title=""><strong>Alexander</strong></a> Liked <a href="#" title="">Zebra Styling Of Activity Feed Items</a> with <a href="#" title="">Css3 I BP Triks.</a> <span>19 Hours Ago</span> <i>Unread</i></li>
                                        </ul>
                                    </div>
                                    <div class="noti-bt"> <a href="#" title="">View All Notification</a> </div>
                                </div>
                            </div>
                            <div class="notif">
                                <span><img src="~/images/icon-envelop.png" alt=""><i>3</i></span>
                                <div class="noti-lst">
                                    <div class="noti-tp"> <span>Notifications</span> </div>
                                    <div class="noti-bd">
                                        <ul>
                                            <li class="rd-noti"><a href="#" title=""><strong>Alexander</strong></a> Liked <a href="#" title="">Zebra Styling Of Activity Feed Items</a> with <a href="#" title="">Css3 I BP Triks.</a> <span>15 Min Ago</span> <i>Read</i></li>
                                            <li class="unrd-noti"><a href="#" title=""><strong>BuddyPress</strong> Using Dropbox To Host Your On WordPress Theme! BP-Tricks</a> <span>30 Min Ago</span> <i>Unread</i></li>
                                            <li class="unrd-noti"><a href="#" title=""><strong>BP-Tricks:</strong> Sharing BuddyPress Knowledge made eassy!</a> <span>12 Hours Ago</span> <i>Unread</i></li>
                                            <li class="unrd-noti"><a href="#" title=""><strong>Alexander</strong></a> Liked <a href="#" title="">Zebra Styling Of Activity Feed Items</a> with <a href="#" title="">Css3 I BP Triks.</a> <span>19 Hours Ago</span> <i>Unread</i></li>
                                        </ul>
                                    </div>
                                    <div class="noti-bt"> <a href="#" title="">View All Notification</a> </div>
                                </div>
                            </div>
                            <div class="social-btns">
                                <ul>
                                    <li><a href="#" title=""><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" title=""><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#" title=""><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>

                        @RenderBody()


                    </div>
                    <!-- Profile Sec -->
                </div>
            </div>
        </div>
        <!-- Panel Content -->

    </div>
    <!-- Panel Layout -->

    <div class="chat-system-wrp">
        <div class="chat-system-innr">
            <div class="chat-hdr">
                <div class="cht-tl">
                    <h3 class="user-status away">Komail set</h3>
                    <span>Creative Designer</span>
                </div>
                <ul class="cht-optns">
                    <li><a href="#" title=""><i class="fa fa-user"></i></a></li>
                    <li><a href="#" title=""><i class="fa fa-video-camera"></i></a></li>
                    <li><a href="#" title=""><i class="fa fa-cog"></i></a></li>
                </ul>
                <ul class="cht-wnd-opt">
                    <li><a href="#" title=""><i class="fa fa-minus"></i></a></li>
                    <li><a href="#" title=""><i class="fa fa-times"></i></a></li>
                </ul>
            </div>
            <div class="cht-bdy">
                <ul>
                    <li class="chat-message frnd">
                        <span class="sndr-nm"><img src="~/images/resource/frnd-1.jpg" alt=""></span>
                        <div class="msg-bx">Hello</div>
                    </li>
                    <li class="chat-message me">
                        <span class="sndr-nm"><img src="~/images/resource/frnd-2.jpg" alt=""></span>
                        <div class="msg-bx">Hello</div>
                    </li>
                    <li class="chat-message me">
                        <span class="sndr-nm"><img src="~/images/resource/frnd-2.jpg" alt=""></span>
                        <div class="msg-bx">How are you?</div>
                    </li>
                    <li class="chat-message frnd">
                        <span class="sndr-nm"><img src="~/images/resource/frnd-1.jpg" alt=""></span>
                        <div class="msg-bx">Please type something on the field below I am fine. Please something on the field.</div>
                    </li>
                </ul>
                <div class="cht-inpt-br">
                    <form>
                        <input type="text" placeholder="Write Something....">
                        <button type="submit"><i class="fa fa-paper-plane"></i></button>
                    </form>
                    <ul class="cht-opt">
                        <li><a href="#" title=""><i class="fa fa-camera"></i></a></li>
                        <li><a href="#" title=""><i class="flaticon-smile"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Chat System -->

   

    <!-- Vendor: Javascripts -->

    <script src="~/js/Admin/jquery.min.js"></script>
    <script src="~/js/Admin/bootstrap.min.js"></script>
    <script src="~/js/Admin/apps.js"></script>
    <script src="~/js/Admin/isotope-int.js"></script>
    <script src="~/js/Admin/main.js"></script>
    <script src="~/js/Admin/popperjs-bootstrap.js"></script>

</body>
</html>