@{
    int maND = int.Parse(Session["maND"].ToString());
    string avt = "";
    if (Session["avatar"] != null)
    {
        avt = Session["avatar"].ToString();
    }
    else
    {
        avt = "~/images/resources/User-avatar.svg";
    }
}
<html lang="en">
<!--<![endif]-->
<head>

    <!-- Meta-Information -->
    <title>Winku Social Admin Panel Html5</title>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Vendor: Bootstrap Stylesheets http://getbootstrap.com -->
    <link href="~/css/Admin/bootstrap.min.css" rel="stylesheet" />

    <!-- Our Website CSS Styles -->
    <link href="~/css/Admin/color.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/css/Admin/main-style.css" rel="stylesheet" />
    <link href="~/css/Admin/owl.carousel.css" rel="stylesheet" />
    <link href="~/css/Admin/responsive.css" rel="stylesheet" />
    <link href="~/css/Admin/wickedpicker.css" rel="stylesheet" />


    <link rel="stylesheet" href="~/css/main.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/color.css">
    <link rel="stylesheet" href="~/css/responsive.css">
    <link rel="stylesheet" href="~/css/strip.css">

</head>
<body class="menu-active">
    <div class="panel-layout wide-content">
        <div class="top-bar">
            <div class="logo">
                <a title="" href="@Url.Action("Index","ChucNangTaiKhoans")"><img width="40" src="~/images/resources/logo_elf_hasBackgroundColor.png" alt=""><span style="margin-left: 20px; font-size: 20px; font-weight: 700; color: #194822; vertical-align: middle">ELF</span></a>

            </div>
            <div class="menu-options active"><span class="menu-action"><i></i></span></div>
            <div class="quick-links">
                <ul>
                    <li>
                        <a title="" class="show-status"><i class="fa fa-cog" style="margin: 7px"></i></a>
                        <div class="noti-lst setting">
                            <div class="noti-tp"> <span>profile setting</span></div>
                            <ul>
                                <li><a href="@Url.Action("Details","ChucNangTaiKhoans", new {id = maND })" title=""><i class="fa fa-user"></i>Hồ sơ</a></li>
                                <li><a href="" title=""><i class="fa fa-edit"></i>Edit profile</a></li>
                                <li><a href="@Url.Action("Admin_LogOut","Admin_DangNhap")" title=""><i class="fa fa-sign-out"></i>Log out</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a title="" id="toolFullScreen" class=""><i class="fa fa-arrows-alt" style="margin: 7px"></i></a></li>
                    <li><a title="" class="refresh-page"><i class="fa fa-refresh" style="margin: 7px"></i></a></li>

                </ul>
            </div>
            <form class="search-form">
                <input type="text" placeholder="Search Here...">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <!-- Top Bar -->

        <header class="side-header opened-menu slide-menu sticky">
            <div class="admin-details">
                <span><img src="@Url.Content(avt)" alt=""></span>
                <h3>@Session["hoVaTen"].ToString()</h3>

                <h5 class="admin-status online">Online</h5>
            </div>
            <div class="menu-scroll">
                <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 500px;">
                    <div class="side-menus" style="overflow: hidden; width: auto; height: 500px;">
                        <span>MAIN LINKS</span>
                        <nav>
                            <ul>
                                <li><a href="index.html" title=""><i class="fa fa-dashboard"></i> Dashboard</a></li>
                                <li><a href="@Url.Action("Index","ChucNangTaiKhoans")" title=""><i class="fa fa-hdd-o"></i> Quản Lý Người Dùng</a></li>
                                <li><a href="@Url.Action("Details","ChucNangTaiKhoans", new {id = maND })" title=""><i class="fa fa-inbox"></i></i>Hồ sơ Admin</a></li>
                                <li><a href="@Url.Action("Index","ChuDeBaiQuizs")" title=""><i class="fa fa-question-circle-o"></i>Quản Lý Bài Quiz</a></li>
                                <li><a href="inbox.html" title=""><i class="fa fa-flask"></i> inbox</a></li>
                                <li><a href="@Url.Action("List_DTL","DiemTichLuys")" title=""><i class="fa fa-hdd-o"></i> Quản Lý Điểm</a></li>
                                <li><a href="@Url.Action("Index","LoaiQuyenGops")" title=""><i class="fa fa-glass"></i>Quản Lý Quyên Góp</a></li>
                                <li><a href="@Url.Action("Index","QuaTangs")" title=""><i class="fa fa-gift"></i>Quản Lý Quà Tặng</a></li>

                            </ul>
                        </nav>
                    </div><div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 2px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 500px;"></div><div class="slimScrollRail" style="width: 2px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
                </div>
            </div>
            <!-- Menu Scroll -->
        </header>
        <!-- side header -->

        <div class="panel-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="profile-sec">
                        <div class="profile-banner-sec">
                            <section>
                                <div class="ext-gap bluesh high-opacity">
                                    <div class="content-bg-wrap" style="background: url('@Url.Content("~/images/resources/animated-bg2.png")');"></div>
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="top-banner">
                                                    <h1>Admin ELF</h1>
                                                    <nav class="breadcrumb">
                                                        <a class="breadcrumb-item" href="index-2.html">Home</a>
                                                        <span class="breadcrumb-item active">Blog</span>
                                                    </nav>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                   

                        @RenderBody()


                    </div>
                    <!-- Profile Sec -->
                </div>
            </div>
        </div>
        <!-- Panel Content -->

    </div>
    <!-- Panel Layout -->

    <div class="chat-system-wrp">
        <div class="chat-system-innr">
            <div class="chat-hdr">
                <div class="cht-tl">
                    <h3 class="user-status away">Komail set</h3>
                    <span>Creative Designer</span>
                </div>
                <ul class="cht-optns">
                    <li><a href="#" title=""><i class="fa fa-user"></i></a></li>
                    <li><a href="#" title=""><i class="fa fa-video-camera"></i></a></li>
                    <li><a href="#" title=""><i class="fa fa-cog"></i></a></li>
                </ul>
                <ul class="cht-wnd-opt">
                    <li><a href="#" title=""><i class="fa fa-minus"></i></a></li>
                    <li><a href="#" title=""><i class="fa fa-times"></i></a></li>
                </ul>
            </div>
            <div class="cht-bdy">
                <ul>
                    <li class="chat-message frnd">
                        <span class="sndr-nm"><img src="~/images/resource/frnd-1.jpg" alt=""></span>
                        <div class="msg-bx">Hello</div>
                    </li>
                    <li class="chat-message me">
                        <span class="sndr-nm"><img src="~/images/resource/frnd-2.jpg" alt=""></span>
                        <div class="msg-bx">Hello</div>
                    </li>
                    <li class="chat-message me">
                        <span class="sndr-nm"><img src="~/images/resource/frnd-2.jpg" alt=""></span>
                        <div class="msg-bx">How are you?</div>
                    </li>
                    <li class="chat-message frnd">
                        <span class="sndr-nm"><img src="~/images/resource/frnd-1.jpg" alt=""></span>
                        <div class="msg-bx">Please type something on the field below I am fine. Please something on the field.</div>
                    </li>
                </ul>
                <div class="cht-inpt-br">
                    <form>
                        <input type="text" placeholder="Write Something....">
                        <button type="submit"><i class="fa fa-paper-plane"></i></button>
                    </form>
                    <ul class="cht-opt">
                        <li><a href="#" title=""><i class="fa fa-camera"></i></a></li>
                        <li><a href="#" title=""><i class="flaticon-smile"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Chat System -->
    <!-- Vendor: Javascripts -->

    <script src="~/js/Admin/jquery.min.js"></script>
    <script src="~/js/Admin/bootstrap.min.js"></script>
    <script src="~/js/Admin/apps.js"></script>
    <script src="~/js/Admin/isotope-int.js"></script>
    <script src="~/js/Admin/main.js"></script>
    <script src="~/js/Admin/popperjs-bootstrap.js"></script>

    <script src="~/js/main.min.js"></script>
    <script src="~/js/script.js"></script>
    <script src="~/js/map-init.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8c55_YHLvDHGACkQscgbGLtLRdxBDCfI"></script>

</body>
</html>