@model IEnumerable<ELF.Models.DonViThuGom>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<div class="usr-pnl">
    <div class="pnl-tl">
        <h4>Loại quên góp</h4>

        <a href="#" title="" class="scrh-grp-btn"><i class="fa fa-plus"></i></a>
    </div><!-- Panel Title -->
    <div class="pnl-bdy">
        @foreach (var item in Model)
        {
            if (item.trangThai != "Đã xóa")
            {
        <div class="cmp-loc">
            <div class="more" style="float:right;  padding: 15px; ">
                <div class="more-post-optns">
                    <i class="ti-more-alt"></i>
                    @{
                        var myModal = "exampleModalCenter" + item.maDVTG;
                    }
                <ul>
                    <li><a type="button" class="btn-block" href="@Url.Action("Details", "DonViThuGoms",new {id = item.maDVTG })">Chi tiết</a> </li>
                    <li> <a href="" title="" class="btn-block" data-ripple="" data-toggle="modal" data-target="#@myModal">Xóa</a></li>
                </ul>
                    <div class="modal fade" id="@myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalCenterTitle">Thông báo</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                Bạn có chắc chắn muốn xóa đơn vị thu gom "@item.tenDVTG" không?
                                </div>
                                <div class="modal-footer">
                                    @using (Html.BeginForm("Delete", "DonViThuGoms", new { id = item.maDVTG }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
                                        <button type="submit" class="btn btn-primary">Xoá</button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cmp-sc1">
                <div class="cmp-thm">
                    @if (item.logo != null)
                    {
                        <img src="~/images/resources/@item.logo" alt="">
                    }
                    else
                    {

                        <img src="~/images/resources/logo_DVTG.jpg" />
                    }

                </div>

            </div>
            <div class="cmp-sc2">
                <h2>@item.tenDVTG</h2>
                <span><i class="fa fa-location-arrow"></i> @item.diaChi ||</span>
                <span><i class="fa fa-phone"></i>@item.soDienThoai</span>
                @if (item.trangThai != "Đã ẩn")
                {
                    <span><i class="fa fa-globe"></i> @item.trangThai</span>
                }
                else
                {
                    <span> @item.trangThai</span>
                }

            </div>
            <div class="cmp-sc3">
                <h2>Loại thu gom</h2>
                <span>@item.loaiThuGom</span>             
                    <h2> Hình thức thu gom</h2>
                    <span>@item.hinhThucThuGom</span>              
            </div>

            <div class="cmp-sc4">
                <div class="cmp-bnr">
                    @if (item.logo != null)
                    {
                        <img src="~/images/resources/@item.logo" alt="">
                    }
                    else
                    {
                <img src="~/images/resources/logo_DVTG.jpg" />
                       
                    }
                    <a title="" href="@Url.Action("Index", "QuyenGops", new { maLQG = item.maDVTG })"> Danh sách</a>
                </div>
            </div>



        </div>
                            }
                        }


    </div><!-- Panel Body -->
</div>


<div class="popup-wrp2 srch-grp-pp" >
    <span class="pp-cls"></span>
    <div class="popup-innr loc-edt" style="max-width: 1040px;">
        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 500px;">
            <div class="scrl" style="overflow: hidden; width: auto; height: 500px;">
                <div class="usr-pnl">
                    <div class="pnl-tl">
                        <h4>Thêm Đơn Vị Thu Gom</h4>
                        <ul class="brd-crmb">
                            <li><a href="#" title=""><i class="fa fa-home"></i></a></li>
                            <li>Locations</li>
                        </ul>
                    </div><!-- Panel Title -->
                    <div class="pnl-bdy">

                        <div class="adrs-frm">
                            <h4>Thông Tin Đơn Vị Thu Gom</h4>
                            @using (Html.BeginForm("Create", "DonViThuGoms", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()

                                <form>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <input type="text" placeholder="Tên Đơn Vị Thu Gom" name="TenDVTG"
                                                           required="required" oninvalid="this.setCustomValidity('Bạn chưa nhập tên đơn vị thu gom)" oninput="setCustomValidity('')">
                                                </div>
                                                <div class="col-md-4">
                                                    <input type="text" placeholder="Số điện thoại liên hệ" name="sdt"
                                                           required="required" oninvalid="this.setCustomValidity('Bạn chưa nhập số điện thoại liên hệ)" oninput="setCustomValidity('')">
                                                </div>

                                                <div class="col-md-12">
                                                    <input type="Text" placeholder="Địa Chỉ" name="diaChi"
                                                           required="required" oninvalid="this.setCustomValidity('Bạn chưa nhập địa chỉ)" oninput="setCustomValidity('')">
                                                </div>
                                                <div class="col-md-12">
                                                    <input type="text" placeholder="Loại Thu Gom" name="LoaiTG"
                                                           required="required" oninvalid="this.setCustomValidity('Bạn chưa nhập loại thu gom)" oninput="setCustomValidity('')">
                                                </div>
                                                <div class="col-md-12">
                                                    <input type="text" placeholder="Hình Thức Thu Gom" name="hinhThucTG"
                                                           required="required" oninvalid="this.setCustomValidity('Bạn chưa nhập hình thức thu gom)" oninput="setCustomValidity('')">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="cmp-bnr">
                                                        <label class="fileContainer">
                                                            <i class="fa fa-camera" style="line-height: 128px;"></i>
                                                            <input accept="image/*" id="chng2" type="file" name="img"
                                                                   required="required" oninvalid="this.setCustomValidity('Bạn chưa chọn Logo của Đơn vị thu gom)" oninput="setCustomValidity('')">

                                                            <script>
                                                                chng2.onchange = evt => {
                                                                    const [file] = chng2.files
                                                                    if (file) {
                                                                        blah.src = URL.createObjectURL(file)
                                                                    }
                                                                }
                                                            </script>
                                                        </label>                                         
                                                        <img  id="utp2" src="~/images/resources/logo_elf_dark.png" alt="" />
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                    <button type="submit" title="" class="sv-btn">Lưu</button>
                                </form>
                            }
                        </div><!-- Address Form -->
                    </div><!-- Panel Body -->
                </div><!-- User panel -->
            </div>
        </div>
    </div>
</div>