@model IEnumerable<ELF.Models.TraoDoi>

@{
    ViewBag.Title = "Danh sách đăng ký";
    Layout = "~/Areas/NguoiDung/Views/Shared/_Layout_TrangCaNhan.cshtml";
    int maND = int.Parse(Session["maND"].ToString());

    
}

<div class="frnds">
    <ul class="nav nav-tabs">
        <li class="nav-item"><a class="active" href="#frends" data-toggle="tab">Đã đăng ký</a> 
        <li class="nav-item"><a class="" href="#frends-req" data-toggle="tab">Danh sách người đăng ký</a>
        <li class="nav-item"><a class="" href="#frends-req1" data-toggle="tab">Đã xác nhận</a>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active fade show " id="frends">
            <ul class="nearby-contct">
                @foreach (var item in Model)
                {
                    if (item.maND == maND)
                    {
                        string avt_BD = "";
                        if (item.NguoiDung1.avatar != null)
                        {
                            avt_BD = item.NguoiDung1.avatar;
                        }
                        else
                        {
                            avt_BD = "~/images/resources/User-avatar.svg";
                        }
                <li>
                    <div class="nearly-pepls">
                        <figure>
                            <a href="time-line.html" title=""><img width="40" src="@Url.Content(avt_BD)" alt=""></a>
                        </figure>
                        <div class="pepl-info">
                            <h4><a href="time-line.html" title="">@item.BaiDangSanPham.tenSP</a></h4>
                            <span>@item.NguoiDung1.hoVaTen</span>
                            <a href="#" style="position: absolute; right: 100px;" title="" class="add-butn more-action" onclick="location.href='@Url.Action("Delete_DS","TraoDois",new { id = item.maTD })'">Hủy đăng ký</a>
                            <a href="@Url.Action("Index_BDSP_one","BaiDangSanPhams", new {maBDSP = item.maBDSP , maND = item.maNDKhac })" title="" class="add-butn" data-ripple="">chi tiết</a>
                        </div>

                        
                    </div>



                    
                </li>

                    }

                }


            </ul>
            <div class="lodmore"><button class="btn-view btn-load-more"></button></div>
        </div>
        <div class="tab-pane fade" id="frends-req">
            <ul class="nearby-contct">
                @foreach (var item in Model)
                {
                    if (item.maNDKhac == maND && item.trangThai == "Đăng ký")
                    {

                        string avt_BD = "";
                        if (item.NguoiDung.avatar != null)
                        {
                            avt_BD = item.NguoiDung.avatar;
                        }
                        else
                        {
                            avt_BD = "~/images/resources/User-avatar.svg";
                        }
                <li>
                    <div class="nearly-pepls">
                        <figure>
                            <a href="time-line.html" title=""><img width="40" src="@Url.Content(avt_BD)" alt=""></a>
                        </figure>
                        <div class="pepl-info">
                            <h4><a href="time-line.html" title="">@item.NguoiDung.hoVaTen</a></h4>
                            <span>Sản phẩm: @item.BaiDangSanPham.tenSP</span>
                            <a href="#" style="position: absolute; right: 100px;" title="" class="add-butn more-action"  onclick="location.href='@Url.Action("Delete_DS","TraoDois",new { id = item.maTD })'" >xóa đăng ký</a>

                            <a href="#" title="" class="add-butn" data-ripple="" onclick="location.href='@Url.Action("EditTranngThai","TraoDois",new { id = item.maTD })'">Xác nhận </a>
                        </div>
                    </div>

                </li>
                    }

                }
            </ul>
            <button class="btn-view btn-load-more"></button>
        </div>

        <div class="tab-pane fade" id="frends-req1">
            <ul class="nearby-contct">
                @foreach (var item in Model)
                {
                    if (item.maNDKhac == maND && item.trangThai == "Xác nhận")
                    {

                        string avt_BD = "";
                        if (item.NguoiDung.avatar != null)
                        {
                            avt_BD = item.NguoiDung.avatar;
                        }
                        else
                        {
                            avt_BD = "~/images/resources/User-avatar.svg";
                        }
                        <li>
                            <div class="nearly-pepls">
                                <figure>
                                    <a href="time-line.html" title=""><img width="40" src="@Url.Content(avt_BD)" alt=""></a>
                                </figure>
                                <div class="pepl-info">
                                    <h4><a href="time-line.html" title="">@item.NguoiDung.hoVaTen</a></h4>
                                    <span>Sản phẩm: @item.BaiDangSanPham.tenSP</span>
                                    
                                    <a href="#" title="" class="add-butn" data-ripple="">Liên hệ</a>
                                </div>
                            </div>
                        </li>
                    }

                }
            </ul>
            <button class="btn-view btn-load-more"></button>
        </div>
    </div>
</div>
<script>
    $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
    })
</script>