@model IEnumerable<ELF.Models.BinhLuan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/NguoiDung/Views/Shared/_Layout_NguoiDung.cshtml";
    string avt = "";
    int maND = int.Parse(Session["maND"].ToString());
    string name = Session["HoVaTen"].ToString();
    if (Session["avatar"] != null)
    {
        avt = Session["avatar"].ToString();
    }
    else
    {
        avt = "~/images/resources/User-avatar.svg.png";
    }

    string tenNguoiDang = Session["tenNguoiDang"].ToString();
    string ngayDang = Session["ngayDang"].ToString();   
    string noiDung = Session["noiDung"].ToString();
    string hinhAnh = Session["hinhAnh"].ToString();  
    string avt_BD = Session["avt_BD"].ToString(); 
    int maBDTT = int.Parse(Session["maBDTT"].ToString());


    string hidden = "";
}

<div class="central-meta item">
    <div class="user-post">
        <div class="friend-info">
            <figure>
                <img src="@Url.Content(avt_BD)" alt="">
            </figure>
            <div class="friend-name">
                <ins><a href="time-line.html" title="">@tenNguoiDang</a></ins>
                <span>published: @ngayDang</span>

            </div>
            <div class="post-meta">
                <img src="@Url.Content(hinhAnh)" alt="">

                <div class="description">
                    <p>
                        @noiDung
                    </p>
                </div>
            </div>
        </div>

        <div class="coment-area">
            <ul class="we-comet">
                <li class="post-comment">
                    <div class="comet-avatar">
                        <img src="@Url.Content(avt)" alt="">
                    </div>
                    <div class="post-comt-box">

                        @using (Html.BeginForm("CreateBLBDTT", "BinhLuans"))
                        {

                            @Html.AntiForgeryToken()
                            <form method="post" action="" id="myform">
                                <textarea placeholder="Post your comment" name="coment"></textarea>
                                @Html.Hidden("maND", maND)
                                @Html.Hidden("maBDTT", maBDTT)


                                <button type="submit" id="submit_cmt"></button>
                            </form>
                        }
                    </div>
                </li>
                @foreach (var item in Model)
                {

                    hidden = item.trangThai;
                    if (hidden == "Hien")
                    {
                        <li>
                            <div class="comet-avatar">
                                <img src="@Url.Content(item.NguoiDung.avatar)" alt="">
                            </div>
                            <div class="we-comment">
                                <div class="coment-head">
                                    <h5><a href="time-line.html" title="">@item.NguoiDung.hoVaTen</a></h5>
                                    <span>@item.ngayBL</span>
                                    @if (item.maND == maND || item.BaiDangThongTin.maND == maND)
                                    {
                                        <div class="more">
                                            <div class="more-post-optns">
                                                <i class="ti-more-alt"></i>
                                                <ul>
                                                    <li> @Html.ActionLink("Xóa", "Delete", new { id = item.maBL }, new { onclick = "return confirm('Bạn có chắc chắn muốn xóa comment');" })</li>
                                                    @if (hidden == "An")
                                                    {
                                                        <li> @Html.ActionLink("Hiện comment", "Appear", new { id = item.maBL })</li>
                                                    }
                                                    else
                                                    {
                                                        <li> @Html.ActionLink("Ẩn comment", "Hidden", new { id = item.maBL })</li>
                                                    }

                                                </ul>
                                            </div>
                                        </div>
                                    }
                                </div>
                                <p>
                                    @item.noiDung
                                    
                                </p>
                            </div>
                        </li>
                    }
                    else if (hidden == "An" && (item.maND == maND || item.BaiDangThongTin.maND == maND))
                    {
                        <li>
                            <div class="comet-avatar">
                                <img src="@Url.Content(item.NguoiDung.avatar)" alt="">
                            </div>
                            <div class="we-comment">
                                <div class="coment-head">
                                    <h5><a href="time-line.html" title="">@item.NguoiDung.hoVaTen</a></h5>
                                    <span>@item.ngayBL </span>
                                    <span> Đã Ẩn </span>
                                    @if (item.maND == maND || item.BaiDangThongTin.maND == maND)
                                    {
                                        <div class="more">
                                            <div class="more-post-optns">
                                                <i class="ti-more-alt"></i>
                                                <ul>
                                                    <li> @Html.ActionLink("Xóa", "Delete", new { id = item.maBL }, new { onclick = "return confirm('Bạn có chắc chắn muốn xóa comment');" })</li>
                                                    @if (hidden == "An")
                                                    {
                                                        <li> @Html.ActionLink("Hiện comment", "Appear", new { id = item.maBL })</li>
                                                    }
                                                    else
                                                    {
                                                        <li> @Html.ActionLink("Ẩn comment", "Hidden", new { id = item.maBL })</li>
                                                    }


                                                </ul>
                                            </div>
                                        </div>
                                    }
                                </div>
                                <p>
                                    @item.noiDung
                                    
                                </p>
                            </div>
                        </li>
                    }
                    else
                    {

                    }

                }

            </ul>
        </div>
    </div>
</div>



