@model ELF.Models.LoaiQuyenGop

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/NguoiDung/Views/Shared/_Layout_NguoiDung.cshtml";
}

<div class="central-meta item">
    <div class="user-post">
        <div class="f-title">
            <h3>Thông tin chi tiết về việc thu gom @Html.DisplayFor(model => model.tenLoai)</h3>
            <h10>tiêu đều nhỏ gì đó chẳng hạn</h10>
        </div>
    </div>
    <dl class="dl-horizontal">
        <dt>
            Nội Dung:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.noiDung)
        </dd>

        <dt>
            Vị Trí Thu Gom:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.viTriQP)
        </dd>

        <dt>
            Ghi Chú:
        </dt>

        @if (Model.ghiChu == null)
        {
            <dd>
                Không có thông tin ghi chú
            </dd>
        }
        else
        { @Html.DisplayFor(model => model.ghiChu)}

        <dt>
            Trạng Thái:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trangThai)
        </dd>

    </dl>
    <div class="submit-btns">
        <button type="button" class="mtr-btn">
            <a href="@Url.Action("Create", "QuyenGops", new {maLQG=Model.maLQG })" class='sidebar-link'>
                <i Class="ti-write" width="20"></i>
                <span>Đăng Ký Quyên Góp</span>
            </a>
        </button>
        <button type="button" class="mtr-btn">
            <a href="@Url.Action("Index", "LoaiQuyenGops")" class='sidebar-link'>
                <span>Trở Về</span>
            </a>
        </button>
    </div>
</div>
