@model IEnumerable<ELF.Models.LoaiQuyenGop>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/NguoiDung/Views/Shared/_Layout_NguoiDung.cshtml";
}

<head>
    @* thẻ style dùng để chỉnh stylr ((màu, font, ....)) *@
    <style>
        /*ví dụ h8{bên trong là style định dạnh cho h8}*/
        /*chỉnh màu h8*/
        h8 {
            color: #FF0000; /*Chỉnh sang màu đỏ*/
        }
        .content {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3; /* number of lines to show */
            line-height: 1.4em; /* fallback */
            max-height: 4.2em;
        }
    </style>
</head>



@*@if (TempData["notice"] != null)
    {
        <p>@TempData["notice"]</p>
    }*@

<h3>DANH SÁCH LOẠI SẢN PHẨM CÓ THỂ QUYÊN GÓP</h3>

<h8>
    Lưu ý:....
</h8>
<table class="table">
    @foreach (var item in Model)
    {
    <div class="central-meta item">
        <div class="f-title">
            @Html.DisplayFor(modelItem => item.tenLoai)
        </div>
        <div class="content">
            @Html.DisplayFor(modelItem => item.noiDung)
        </div>
        @*<div>
            @Html.ActionLink("Details", "Details", new { id = item.maLQG })
        </div>*@
        <button type="button" class="mtr-btn">
            <a href="@Url.Action("Details", "LoaiQuyenGops", new { id = item.maLQG })" class='sidebar-link'>
                <span>Chi Tiết</span>
            </a>
        </button>
    </div>
            }
    </table>