@model IEnumerable<ELF.Models.LoaiQuyenGop>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/NguoiDung/Views/Shared/_Layout_NguoiDung.cshtml";
    String hovatenND = Session["hoVaTen"].ToString();
}


<div class="central-meta">
    <div class="groups">
        <span><i class="fa fa-file-text-o"></i> Đăng ký quyên góp</span>
    </div>


    <ul class="liked-pages">
        @foreach (var item in Model)
        {
            if (item.trangThai != "Đã xóa" && item.trangThai != "Đã ẩn")
            {


            <li>
                <div class="f-page">
                    <figure>
                        <a href="@Url.Action("Create", "QuyenGops", new { item.maLQG })" title=""><img src="~/images/resources/@item.hinhAnh" alt=""></a>
                        <div class="dropdown pgs">
                            <button class="btn" type="submit" id="dropdownMenu" aria-haspopup="true" aria-expanded="false">
                                Quyên góp
                            </button>
                        </div>
                    </figure>
                    <div class="page-infos">
                        <h5><a href="@Url.Action("Create", "QuyenGops", new { item.maLQG })" title="">@Html.DisplayFor(modelItem => item.tenLoai)</a></h5>
                        <span><a href="@Url.Action("Create", "QuyenGops", new { item.maLQG })" title="">@Html.DisplayFor(modelItem => item.noiDung)</a></span>
                    </div>

                </div>
            </li>
            }
        }
        
    </ul>

</div>
