@model IEnumerable<ELF.Models.BaiDangThongTin>
@{
    ViewBag.Title = "Index_BDTT_one";
    Layout = "~/Areas/NguoiDung/Views/Shared/_Layout_TrangCaNhan.cshtml";
    int maND = int.Parse(Session["maND"].ToString());
    int hidden = 0;

    string avt = "";
    string name = Session["HoVaTen"].ToString();
    if (Session["avatar"] != null)
    {
        avt = Session["avatar"].ToString();
    }
    else
    {
        avt = "~/images/resources/User-avatar.svg";
    }
}


@foreach (var item in Model)
{
    hidden = item.maTT;
    string avt_BD = "";
    if (item.NguoiDung.avatar != null)
    {
        avt_BD = item.NguoiDung.avatar;
    }
    else
    {
        avt_BD = "~/images/resources/User-avatar.svg.png";
    }

   <div class="central-meta item">
       <div class="user-post">
           <div class="friend-info">
               <figure>
                   <img src="@Url.Content(avt_BD)" alt="">
               </figure>
               <div class="friend-name">
                   <ins><a href="time-line.html" title="">@item.NguoiDung.hoVaTen</a></ins>
                   @if (hidden == 3)
                   {
                       <span>Đã ẩn </span>
                   }
                   else
                   {
                       <span>published: @item.ngayDang</span>
                   }
                   <div>
                       <button hidden type="button" class="btn-block" data-id="@item.maBDTT">Chỉnh sửa</button>
                       <div class="modal fade" id="myModal" role="dialog" data-url="@Url.Action("Edit","BaiDangThongTins")"></div>

                   </div>
                   <div class="more">
                       <div class="more-post-optns">
                           <i class="ti-more-alt"></i>
                           <ul>
                               <li>

                                   <button type="button" class="btn-block" data-id="@item.maBDTT">Chỉnh sửa</button>
                                   <div class="modal fade" id="myModal" role="dialog" data-url="@Url.Action("Edit","BaiDangThongTins")"></div>


                               </li>
                               <li> @Html.ActionLink("Xóa", "Delete", new { id = item.maBDTT }, new { onclick = "return confirm('Bạn có chắc chắn muốn xóa bài Thông tin?');" })</li>
                               @if (hidden == 3)
                               {
                                   <li> @Html.ActionLink("Hiện bài đăng", "Appear", new { id = item.maBDTT }, new { onclick = "return confirm('Bạn có chắc chắn muốn hiện bài Thông tin?');" })</li>
                               }
                               else
                               {
                                   <li> @Html.ActionLink("Ẩn bài đăng", "Hidden", new { id = item.maBDTT }, new { onclick = "return confirm('Bạn có chắc chắn muốn ẩn bài Thông tin?');" })</li>
                               }

                           </ul>
                       </div>
                   </div>


               </div>
               <div class="post-meta">
                   @if (item.hinhAnh != null)
                   {
                       <img src="@Url.Content(item.hinhAnh)" alt="">
                   }

                   <div class="description">
                       <a style="color: red; font-size: 16px; font-weight: bold"><br /> @item.tieuDe</a>
                       <br />
                       <p>
                           @item.noiDung
                       </p>
                   </div>
               </div>

           </div>

           <ul class="we-comet">
               @Html.Action("listComment_oneBDTT", "BinhLuans", new { maBDTT = item.maBDTT })


               <li>
                   <a href="" title="" class="showmore underline"></a>
               </li>
               <li class="post-comment">
                   <div class="comet-avatar">
                       <img src="@Url.Content(avt)" alt="">
                   </div>
                   <div class="post-comt-box">
                       <form method="post">
                           <textarea placeholder="Post your comment" name="coment"></textarea>
                           <input hidden type="text" id="URL_CMT" value="@Url.Action("InsertBinhLuansBDSP", "BinhLuans")">
                           <input hidden type="text" id="MaND_cmt" value="@maND">
                           <input hidden type="text" id="BD_cmt" value="1">
                           <input hidden type="text" id="MaBD_cmt" value="@item.maBDTT">
                           <input hidden type="text" id="name_cmt" value="@name">
                           <input hidden type="text" id="avt_cmt" value="@Url.Content(avt)">
                           <button type="submit">Nhấn vào đây nè</button>
                       </form>

                   </div>
               </li>

           </ul>
       </div>
    </div>
}

<script>
    $(document).ready(function () {
        $('.btn-block').click(function () {
            var url = $("#myModal").attr('data-url');
            var id = $(this).attr('data-id');

            $.get(url + '/' + id, function (data) {
                $("#myModal").html(data);
                $("#myModal").modal('show')
            });
        });
    });
</script>

