@model IEnumerable<ELF.Models.BaiDangThongTin>
@{
    ViewBag.Title = "Index_BDTT_one";
    Layout = "~/Areas/NguoiDung/Views/Shared/_Layout_TrangCaNhan.cshtml";
    int maND = int.Parse(Session["maND"].ToString());
    int hidden = 0;
}


@foreach (var item in Model)
{
    hidden = item.maTT;
    string avt_BD = "";
    if (item.NguoiDung.avatar != null)
    {
        avt_BD = item.NguoiDung.avatar;
    }
    else
    {
        avt_BD = "~/images/resources/User-avatar.svg.png";
    }

   <div class="central-meta item">
        <div class="user-post">
            <div class="friend-info">
                <figure>
                    <img src="@Url.Content(avt_BD)" alt="">
                </figure>
                <div class="friend-name">
                    <ins><a href="time-line.html" title="">@item.NguoiDung.hoVaTen</a></ins>
                    @if (hidden == 3)
                    {
                        <span>Đã ẩn </span>
                    }
                    else
                    {
                        <span>published: @item.ngayDang</span>
                    }
                    <div>
                        <button hidden type="button" class="btn-block" data-id="@item.maBDTT">Chỉnh sửa</button>
                        <div class="modal fade" id="myModal" role="dialog" data-url="@Url.Action("Edit","BaiDangSanPhams")"></div>

                    </div>
                    <div class="more">
                        <div class="more-post-optns">
                            <i class="ti-more-alt"></i>
                            <ul>
                                <li>

                                    <button type="button" class="btn-block" data-id="@item.maBDTT">Chỉnh sửa</button>
                                    <div class="modal fade" id="myModal" role="dialog" data-url="@Url.Action("Edit","BaiDangSanPhams")"></div>


                                </li>
                                <li> @Html.ActionLink("Xóa", "Delete", new { id = item.maBDTT }, new { onclick = "return confirm('Bạn có chắc chắn muốn xóa bài Thông tin?');" })</li>
                                @if (hidden == 3)
                                {
                                    <li> @Html.ActionLink("Hiện bài đăng", "Appear", new { id = item.maBDTT }, new { onclick = "return confirm('Bạn có chắc chắn muốn hiện bài Thông tin?');" })</li>
                                }
                                else
                                {
                                    <li> @Html.ActionLink("Ẩn bài đăng", "Hidden", new { id = item.maBDTT }, new { onclick = "return confirm('Bạn có chắc chắn muốn ẩn bài Thông tin?');" })</li>
                                }

                            </ul>
                        </div>
                    </div>


                </div>
                <div class="post-meta">
                    @if (item.hinhAnh != null)
                    {
                        <img src="@Url.Content(item.hinhAnh)" alt="">
                    }

                    <div class="description">
                        <a style="color: red; font-size: 16px; font-weight: bold"><br /> @item.tieuDe</a>
                        <br />
                        <p>
                            @item.noiDung
                        </p>
                    </div>
                </div>
                
            </div>

            <div class="coment-area">
                <ul class="we-comet">
                    <li>
                        <a href="@Url.Action("Index_BLBDTT_TrangCaNhan","BinhLuans",
                                new { maBDTT = item.maBDTT,
                                tenNguoiDang = item.NguoiDung.hoVaTen,
                                ngayDang = item.ngayDang,
                                noiDung=item.noiDung,
                                hinhAnh=item.hinhAnh,
                                tieuDe = item.tieuDe,
                                avt_BD = avt_BD, 
                                maND_BDTT = item.maND})" title="" class="showmore underline">more comments</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        $('.btn-block').click(function () {
            var url = $("#myModal").attr('data-url');
            var id = $(this).attr('data-id');

            $.get(url + '/' + id, function (data) {
                $("#myModal").html(data);
                $("#myModal").modal('show')
            });
        });
    });
</script>

