@model ELF.Models.TaiKhoan

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TaiKhoan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.matKhau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.matKhau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngayTao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngayTao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.trangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trangThai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NguoiDung.hoVaTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NguoiDung.hoVaTen)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.email }) |
    @Html.ActionLink("Back to List", "Index")
</p>
