@using ELF.Models
@model LoginViewModel

@{
    ViewBag.Title = "Đăng Nhập";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Đăng nhập ELF</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/images/favicon.ico" />
    <!--===============================================================================================-->
    <link href="~/vendor/DangNhap/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/fonts/DangNhap/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/fonts/DangNhap/iconic/css/material-design-iconic-font.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/vendor/DangNhap/animate/animate.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/vendor/DangNhap/css-hamburgers/hamburgers.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/vendor/DangNhap/animsition/css/animsition.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/vendor/DangNhap/select2/select2.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/vendor/DangNhap/daterangepicker/daterangepicker.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/css/DangNhap/util.css" rel="stylesheet" />
    <link href="~/css/DangNhap/main.css" rel="stylesheet" />
    <!--===============================================================================================-->
</head>
<body>


    <div class="container-login100" style="background-image: url('@Url.Content("~/images/ELF-background.png")');">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
            <form class="login100-form validate-form" action="@Url.Action("DangNhap")" method="post">
                <span class="login100-form-title p-b-37">
                    Đăng nhập ELF
                </span>

                <div class="wrap-input100 validate-input m-b-20" data-validate="Nhập email">
                    <input class="input100" type="text" name="mail" placeholder="email">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-25" data-validate="Nhập mật khẩu">
                    <input class="input100" type="password" name="matKhau" placeholder="mật khẩu">
                    <span class="focus-input100"></span>
                </div>

                @if (Session["Message"] != null)
                {
                    <div class="text-danger">@Session["Message"].ToString()</div>
                    <br />
                }

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        Đăng nhập
                    </button>
                </div>
            </form>

                <div class="text-center p-t-57 p-b-20">
                    <span class="txt1">
                        Hoặc đăng nhập bằng
                    </span>
                </div>

                <div class="flex-c p-b-112">
                    <section id="socialLoginForm">
                        @Html.Partial("~/Views/Account/_ExternalLoginsListPartial.cshtml", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                    </section>
                </div>

                <div class="text-center">
                    <a href="@Url.Action("Create", "NguoiDungs")" class="txt2 hov1">
                        Đăng ký
                    </a>
                </div>
                     
        </div>
    </div>



    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="~/vendor/DangNhap/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/DangNhap/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/DangNhap/bootstrap/js/popper.js"></script>
    <script src="~/vendor/DangNhap/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/DangNhap/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/DangNhap/daterangepicker/moment.min.js"></script>
    <script src="~/vendor/DangNhap/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/DangNhap/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/js/DangNhap/main.js"></script>

</body>
</html>