@model IEnumerable<ELF.Models.CauHoi>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
    int maCD = int.Parse(TempData["maChuDe"].ToString());
}

<div class="usr-pnl">
    <div class="pnl-tl">
        <h4><b>Chủ đề:</b>  @TempData["TenChuDe"].ToString()</h4>
        <a href="#" title="" class="crt-btn"><i class="fa fa-plus"></i></a>
    </div>
    <!-- Panel Title -->
    <div class="pnl-bdy">
        <div class="crt-grp">
            <h4>Thay đổi tên chủ đề bài Quiz</h4>
            @using (Html.BeginForm("Edit", "ChuDeBaiQuizs"))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("id", maCD)
                <form>

                    <i class="fa fa-user"></i>
                    <input type="text" name="tenCD" placeholder="Nhập tên chủ đề bài Quiz mới..."
                            required="required" oninvalid="this.setCustomValidity('Bạn chưa nhập tên chủ đề Quiz mới)" oninput="setCustomValidity('')">
                    <button type="submit" class="btn1 crt-grp-btn">Thay đổi</button>

                </form>
            }
        </div>
        <!-- Creat Group Form -->
        <div class="usr-itm">
            <span class="cmpny-nm">Danh sách câu hỏi</span>
            <ul class="usr-lst">
                @foreach (var item in Model)
                {
                    

                    var myModal = "exampleModalCenter" + item.maCauHoi;
                    <li>
                        <div class="usr-lst-inf">
                            <h2><a href="@Url.Action("Index_DA", "CauHois", new { maCH = item.maCauHoi})" title="">@item.noiDungCauHoi</a></h2>
                            <i>Ngày tạo: @item.ngayTao</i>
                        </div>
                        <div class="usr-btns">
                            <a href="" title="" class="add-butn" data-ripple="" data-toggle="modal" data-target="#@myModal">Xóa câu hỏi</a>
                            <div class="modal fade" id="@myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalCenterTitle">Thông báo</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Bạn có chắc muốn xoá câu hỏi "@item.noiDungCauHoi""

                                        </div>
                                        <div class="modal-footer">
                                            @using (Html.BeginForm("Delete", "CauHois", new { id = item.maCauHoi, maCD = item.maChuDe }))
                                            {
                                                @Html.AntiForgeryToken()
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
                                                <button type="submit" class="btn btn-primary">Xoá</button>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </li>




                }
            </ul>
            <!-- Users List -->
        </div>
        <div class="usr-btns" style="float: left">
            <a class="ad" href="@Url.Action("Index", "ChuDeBaiQuizs")" title="">Quay lại</a>
            <a class="scrh-grp-btn" href="#" title="" style="width: auto ">Thêm câu hỏi</a>
        </div>
        <!-- User Item -->
    </div>
    <!-- Panel Body -->

</div>

<div class="popup-wrp2 srch-grp-pp">
    <span class="pp-cls"></span>
    <div class="popup-innr loc-edt" style="max-width: 1040px;">
        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 500px;">
            <div class="scrl" style="overflow: hidden; width: auto; height: 500px;">
                <div class="usr-pnl">
                    <div class="pnl-tl">
                        <h4>Thêm câu hỏi</h4>
                        <ul class="brd-crmb">
                            <li><a href="#" title=""><i class="fa fa-home"></i></a></li>
                            <li>Locations</li>
                        </ul>
                    </div><!-- Panel Title -->
                    <div class="pnl-bdy">

                        <div class="adrs-frm">
                            <h4>Thông tin câu hỏi</h4>
                            @using (Html.BeginForm("Create", "CauHois"))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("maCD", maCD)
                                <form>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <input type="text" placeholder="Nội dung câu hỏi" name="cauHoi" style="width: 134%" required="required" oninvalid="this.setCustomValidity('Bạn chưa nhập câu hỏi')" oninput="setCustomValidity('')">
                                                </div>
                                                <div class="col-md-8">
                                                    <input type="text" placeholder="Đáp án 1" name="DA1"  required="required" oninvalid="this.setCustomValidity('Bạn chưa nhập đáp án 1')" oninput="setCustomValidity('')">
                                                </div>
                                                <div class="col-md-4">
                                                    <input type="text" placeholder="Đáp án 2" name="DA2" style="width: 205%"  required="required" oninvalid="this.setCustomValidity('Bạn chưa nhập đáp án 2')" oninput="setCustomValidity('')">
                                                </div>

                                                <div class="col-md-8">
                                                    <input type="text" placeholder="Đáp án 3" name="DA3"  required="required" oninvalid="this.setCustomValidity('Bạn chưa nhập đáp án 3')" oninput="setCustomValidity('')">
                                                </div>
                                                <div class="col-md-4">
                                                    <input type="text" placeholder="Đáp án 4" name="DA4" style="width: 205%" required="required" oninvalid="this.setCustomValidity('Bạn chưa nhập đáp án 4')" oninput="setCustomValidity('')">
                                                </div>
                                                <br />

                                                <div class="col-md-12">
                                                    <input type="text" placeholder="Đáp án đúng" name="DA_true"  required="required" oninvalid="this.setCustomValidity('Bạn chưa nhập đáp án đúng')" oninput="setCustomValidity('')">
                                                </div>
                                            </div>
                                        </div>
                                       
                                    </div>
                                    <button type="submit" title="" class="sv-btn">Lưu</button>
                                </form>
                            }
                            
                        </div><!-- Address Form -->
                    </div><!-- Panel Body -->
                </div><!-- User panel -->
            </div>
        </div>
    </div>
</div>
