@model IEnumerable<ELF.Models.DapAn>

@{
    ViewBag.Title = "Index_DA";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
    int i = 0;
    int maCD = -1;
    int maCH = int.Parse(TempData["maCauHoi"].ToString());
   
    int k = 0;
    string DA = "";
}

<div class="usr-pnl">
    <div class="pnl-tl">
        <h4><b>Câu hỏi</h4>
        <a href="#" title="" class="crt-btn"><i class="fa fa-plus"></i></a>
    </div>
    <!-- Panel Title -->
    <div class="pnl-bdy">
        <div class="crt-grp">
            <h4>Tạo chủ đề</h4>
            @using (Html.BeginForm("Create", "ChuDeBaiQuizs"))
            {
                @Html.AntiForgeryToken()
                <form>

                    <i class="fa fa-user"></i>
                    <input type="text" name="tenCD" placeholder="Nhập tên chủ đề bài Quiz cần thêm mới...">
                    <button type="submit" class="btn1 crt-grp-btn">Thêm mới</button>

                </form>
            }
        </div>
        <!-- Creat Group Form -->
        <div class="usr-itm">
            <span class="cmpny-nm">Câu hỏi: @TempData["NoiDungCauHoi"].ToString()</span>
            <ul class="usr-lst">
                @foreach (var item in Model)
                {
                    maCD = item.CauHoi.maChuDe;
                    i++;
                    
                    <li>
                        <div class="usr-lst-inf">
                            @if (item.dapAn1 == true)
                            {
                                <h2><a title="" style="color: red;  font-weight: normal;">@i. @item.NoiDungDapAn</a></h2>
                            }
                            else
                            {
                                <h2><a title="" style="color: black;  font-weight: normal;">@i. @item.NoiDungDapAn</a></h2>
                            }


                        </div>


                    </li>
                }
            </ul>
            <!-- Users List -->
        </div>
        <div class="usr-btns" style="float: left">
            <a class="ad" href="@Url.Action("Index", "CauHois", new {maCD = maCD})" title="">Quay lại</a>
            
            <a class="scrh-grp-btn" href="#" title="" style="width: auto ">Chỉnh sửa</a>
        </div>
        <!-- User Item -->
    </div>
    <!-- Panel Body -->

</div>

<div class="popup-wrp2 srch-grp-pp">
    <span class="pp-cls"></span>
    <div class="popup-innr loc-edt" style="max-width: 1040px;">
        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 500px;">
            <div class="scrl" style="overflow: hidden; width: auto; height: 500px;">
                <div class="usr-pnl">
                    <div class="pnl-tl">
                        <h4>Thêm câu hỏi</h4>
                        <ul class="brd-crmb">
                            <li><a href="#" title=""><i class="fa fa-home"></i></a></li>
                            <li>Locations</li>
                        </ul>
                    </div><!-- Panel Title -->
                    <div class="pnl-bdy">

                        <div class="adrs-frm">
                            <h4>Thông tin câu hỏi</h4>
                            @using (Html.BeginForm("Edit", "CauHois"))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("maCH", maCH)
                                <form>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <input type="text" placeholder="Nội dung câu hỏi" value="@TempData["NoiDungCauHoi"].ToString()" name="cauHoi" style="width: 134%"
                                                            required="required" oninvalid="this.setCustomValidity('Bạn chưa nhập câu hỏi')" oninput="setCustomValidity('')">
                                                </div>

                                                @foreach (var item in Model)
                                                {
                                                    if (k == 0)
                                                    {
                                                        @Html.Hidden("maDA1", item.maDapAn)
                                                        <div class="col-md-8">
                                                            <input type="text" placeholder="Đáp án 1" value="@item.NoiDungDapAn" name="DA1"
                                                                    required="required" oninvalid="this.setCustomValidity('Bạn chưa nhập đáp án 1')" oninput="setCustomValidity('')">
                                                        </div>
                                                        if (item.dapAn1 == true)
                                                        {
                                                            DA = item.NoiDungDapAn;
                                                        }

                                                    }
                                                    else if (k == 1)
                                                    {
                                                        @Html.Hidden("maDA2", item.maDapAn)
                                                        <div class="col-md-4">
                                                            <input type="text" placeholder="Đáp án 2" name="DA2" value="@item.NoiDungDapAn" style="width: 205%"
                                                                    required="required" oninvalid="this.setCustomValidity('Bạn chưa nhập đáp án 2')" oninput="setCustomValidity('')">
                                                        </div>
                                                        if (item.dapAn1 == true)
                                                        {
                                                            DA = item.NoiDungDapAn;
                                                        }
                                                    }

                                                    else if (k == 2)
                                                    {
                                                        @Html.Hidden("maDA3", item.maDapAn)
                                                        <div class="col-md-8">
                                                            <input type="text" placeholder="Đáp án 3" value="@item.NoiDungDapAn" name="DA3"
                                                                    required="required" oninvalid="this.setCustomValidity('Bạn chưa nhập đáp án 3')" oninput="setCustomValidity('')">
                                                        </div>
                                                        if (item.dapAn1 == true)
                                                        {
                                                            DA = item.NoiDungDapAn;
                                                        }
                                                    }

                                                    else
                                                    {
                                                        @Html.Hidden("maDA4", item.maDapAn)

                                                    <div class="col-md-4">
                                                        <input type="text" placeholder="Đáp án 4" name="DA4" value="@item.NoiDungDapAn" style="width: 205%" 
                                                               required="required" oninvalid="this.setCustomValidity('Bạn chưa nhập đáp án 4')" oninput="setCustomValidity('')">
                                                    </div>
                                                    if (item.dapAn1 == true)
                                                    {
                                                        DA = item.NoiDungDapAn;
                                                    }

                                                }
                                                k++;

                                            }


                                                <div class="col-md-12">
                                                    <input type="text" placeholder="Đáp án đúng" value="@DA" name="DA_true"
                                                            required="required" oninvalid="this.setCustomValidity('Bạn chưa nhập đáp án đúng')" oninput="setCustomValidity('')">
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <button type="submit" title="" class="sv-btn">Lưu</button>
                                </form>
                            }

                        </div><!-- Address Form -->
                    </div><!-- Panel Body -->
                </div><!-- User panel -->
            </div>
        </div>
    </div>
</div>