@{
    @*int maND = int.Parse(Session["maND"].ToString());
        string avt = "";
        if (Session["avatar"] != null)
        {
            avt = Session["avatar"].ToString();
        }
        else
        {
            avt = "~/images/resources/User-avatar.svg.png";
        }*@
}
<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Meta-Information -->
    <title>Winku Social Admin Panel Html5</title>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Vendor: Bootstrap Stylesheets http://getbootstrap.com -->
    <link href="~/css/Admin/bootstrap.min.css" rel="stylesheet" />

    <!-- Our Website CSS Styles -->
    <link href="~/css/Admin/color.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/css/Admin/main-style.css" rel="stylesheet" />
    <link href="~/css/Admin/owl.carousel.css" rel="stylesheet" />
    <link href="~/css/Admin/responsive.css" rel="stylesheet" />
    <link href="~/css/Admin/wickedpicker.css" rel="stylesheet" />


    <link rel="stylesheet" href="~/css/main.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/color.css">
    <link rel="stylesheet" href="~/css/responsive.css">
    <link rel="stylesheet" href="~/css/strip.css">



</head>
<body>
    <section>
        <div class="ext-gap bluesh high-opacity">
            <div class="content-bg-wrap" style="background: url('@Url.Content("~/images/resources/animated-bg2.png")');"></div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="top-banner">
                            <h1>Đơn vị Thu Gom ELF</h1>
                            <nav class="breadcrumb">
                                <a class="breadcrumb-item" href="index-2.html">Home</a>
                                <span class="breadcrumb-item active">Blog</span>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- top area animated -->

    <section>
        <div class="gap gray-bg">
            <div class="container-fluid">
                <div class="row" id="page-contents">
                    <div class="col-lg-3">
                        <aside class="sidebar static">
                            <div class="widget">
                                <h4 class="widget-title">Socials</h4>
                                <ul class="socials">
                                    <li class="facebook">
                                        <a title="" href="#"> <span>Bài Đăng Trao Đổi</span> </a>
                                    </li>
                                    <li class="twitter">
                                        <a title="" href="@Url.Action("Index","KD_BaiDangs")"> <span>Bài Đăng Thông Tin</span></a>
                                    </li>

                                </ul>
                            </div>
                            <div class="widget stick-widget">
                                <h4 class="widget-title">Phím tắt</h4>
                                <ul class="naves">
                                    <li>
                                        <i class="ti-clipboard"></i>
                                        <a href="@Url.Action("Index_DonQG","KiemDuyets")" title="">Duyệt quyên góp</a>
                                    </li>
                                    <li>
                                        <i class="ti-files"></i>
                                        <a href="@Url.Action("Index","KiemDuyets")" title="">Duyệt bài trao đổi</a>
                                    </li>
                                    <li>
                                        <i class="ti-mouse-alt"></i>
                                        <a href="@Url.Action("Index_BDTT","KiemDuyets")" title="">Duyệt bài thông tin</a>
                                    </li>

                                    <li>
                                        <i class="ti-mouse-alt"></i>
                                        <a href="@Url.Action("Index","KD_DonQuas")" title="">Đơn quà</a>
                                    </li>

                                    <li>
                                        <i class="ti-comments-smiley"></i>
                                        <a href="messages.html" title="">Tin nhắn</a>
                                    </li>
                                    <li>
                                        <i class="ti-power-off"></i>
                                        <a href="@Url.Action("LogOut", "DangNhap")" title="">Đăng xuất</a>
                                    </li>
                                </ul>
                            </div><!-- Shortcuts -->
                        </aside>
                    </div>
                    <div class="col-lg-9">
                        <div class="blog-sec right-pading">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <script src="~/js/Admin/jquery.min.js"></script>
    <script src="~/js/Admin/bootstrap.min.js"></script>
    <script src="~/js/Admin/apps.js"></script>
    <script src="~/js/Admin/isotope-int.js"></script>
    <script src="~/js/Admin/main.js"></script>
    <script src="~/js/Admin/popperjs-bootstrap.js"></script>

    <script src="~/js/main.min.js"></script>
    <script src="~/js/script.js"></script>
    <script src="~/js/map-init.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8c55_YHLvDHGACkQscgbGLtLRdxBDCfI"></script>


</body>

</html>
