@model ELF.Models.DonQua

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/KiemDuyets/Views/Shared/_Layout_NguoiKiemDuyet.cshtml";
}

<div class="editing-info">
    <h5 class="f-title"><i class="ti-info-alt"></i>@Html.DisplayFor(model => model.QuaTang.tenQuaTang)</h5>
    <div class="form-group">
        <img width="300" src="~/images/resources/@Model.QuaTang.hinhAnh" alt="">
    </div>
</div>
<div class="onoff-options">
    <div class="setting-row">
        <span>Người đổi quà</span>
        <p>@Html.DisplayFor(model => model.NguoiDung.hoVaTen)</p>
    </div>

    <div class="setting-row">
        <span>Ngày đổi quà</span>
        <p>@Html.DisplayFor(model => model.NgayTao)</p>

    </div>
    <div class="setting-row">
        <span>Địa chỉ</span>
        <p>@Html.DisplayFor(model => model.DiaChi)</p>
    </div>
    <div class="setting-row">
        <span>Ghi chú</span>
        <p>@Html.DisplayFor(model => model.GhiChu)</p>
    </div>

    @if (Model.TrangThai == "Chờ xác nhận")
    {
        <div class="submit-btns">
            <button type="button" class="mtr-btn" data-toggle="modal" data-target="#exampleModal"><span>Hủy đơn quà</span></button>

            <button type="button" class="mtr-btn" onclick="location.href='@Url.Action("EditTranngThai", "KD_DonQuas", new { maDQ = Model.MaDQ })'"><span>Xác nhận đơn quà</span></button>
        </div>




    }
    else if (Model.TrangThai == "Đang giao hàng")
    {
        <div class="submit-btns">
            <button type="button" class="mtr-btn" data-toggle="modal" data-target="#exampleModal"><span>Hủy đơn quà</span></button>

            <button type="button" class="mtr-btn" onclick="location.href='@Url.Action("EditTranngThai", "KD_DonQuas", new { maDQ = Model.MaDQ })'"><span>Hoàn tất đơn quà</span></button>
        </div>

    }
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thông báo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                @using (Html.BeginForm("Delete_DonQua", "KD_DonQuas"))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("maDQ", Model.MaDQ)
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Lý do:</label>
                                <textarea class="form-control" id="message-text" name="lydo"></textarea>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                                <button type="submit" class="btn btn-primary" id="btn btn-primary">Xác nhận</button>
                            </div>
                        </form>
                    </div>

                }

            </div>
        </div>
    </div>
</div>
