@model IEnumerable<ELF.Models.DonQua>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/KiemDuyets/Views/Shared/_Layout_NguoiKiemDuyet.cshtml";
}
<div class="blog-sec right-pading">
    <div class="post-filter-sec">
        <form method="post" class="filter-form">
            @using (@Html.BeginForm("Index", "KD_DonQuas", FormMethod.Get))
            {

                <input type="search" placeholder="Tìm kiếm" aria-label="Search" aria-describedby="search-addon" name="keyword">
                <button><i class="ti-search"></i></button>
            }
        </form>
        @Html.Action("LoaiQuaTang", "KD_LoaiQG_BD")
    </div>
    <div class="frnds">
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="active" href="#frends" data-toggle="tab">Chờ xác nhận</a>
            <li class="nav-item"><a class="" href="#frends-req" data-toggle="tab">Đang giao hàng</a>
            <li class="nav-item"><a class="" href="#frends-req1" data-toggle="tab">Đã hoàn tất</a>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active fade show " id="frends">
                <ul class="nearby-contct">
                    @foreach (var item in Model)
                    {
                        if (item.TrangThai == "Chờ xác nhận")
                        {
                            string avt_BD = "";

                            if (item.NguoiDung.avatar != null)
                            {
                                avt_BD = item.NguoiDung.avatar;
                            }
                            else
                            {
                                avt_BD = "~/images/resources/User-avatar.svg";
                            }
                            <li>
                                <div class="nearly-pepls">
                                    <figure>
                                        <a href="@Url.Action("Details", "KD_DonQuas", new { id = item.MaDQ })" title=""><img width="40" src="@Url.Content(avt_BD)" alt=""></a>
                                    </figure>
                                    <div class="pepl-info">
                                        <h4><a href="@Url.Action("Details", "KD_DonQuas", new { id = item.MaDQ })" title="">@item.QuaTang.tenQuaTang</a></h4>
                                        <span>Người đổi quà: @item.NguoiDung.hoVaTen</span>
                                        <span style="color: black">Địa chỉ: @item.DiaChi</span>
                                        <a href="#" style="position: absolute; right: 100px;" title="" class="add-butn more-action" data-toggle="modal" data-target="#exampleModal">Hủy đơn quà</a>
                                        <a href="@Url.Action("EditTranngThai", "KD_DonQuas", new { maDQ = item.MaDQ })" title="" class="add-butn" data-ripple="">Xác nhận</a>
                                    </div>

                                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Thông báo</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>

                                                @using (Html.BeginForm("Delete_DonQua", "KD_DonQuas"))
                                                {
                                                    @Html.AntiForgeryToken()
                                                    @Html.Hidden("maDQ", item.MaDQ)
                                                    <div class="modal-body">
                                                        <form>
                                                            <div class="form-group">
                                                                <label for="message-text" class="col-form-label">Lý do:</label>
                                                                <textarea class="form-control" id="message-text" name="lydo"></textarea>
                                                            </div>

                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                                                                <button type="submit" class="btn btn-primary" id="btn btn-primary">Xác nhận</button>
                                                            </div>
                                                        </form>
                                                    </div>

                                                }

                                            </div>
                                        </div>
                                    </div>

                                </div>




                            </li>

                        }

                    }


                </ul>
                <div class="lodmore"><button class="btn-view btn-load-more"></button></div>
            </div>
            <div class="tab-pane fade" id="frends-req">
                <ul class="nearby-contct">
                    @foreach (var item in Model)
                    {
                        if (item.TrangThai == "Đang giao hàng")
                        {

                            string avt_BD = "";
                            if (item.NguoiDung.avatar != null)
                            {
                                avt_BD = item.NguoiDung.avatar;
                            }
                            else
                            {
                                avt_BD = "~/images/resources/User-avatar.svg";
                            }
                            <li>
                                <div class="nearly-pepls">
                                    <figure>
                                        <a href="@Url.Action("Details", "KD_DonQuas", new { id = item.MaDQ })" title=""><img width="40" src="@Url.Content(avt_BD)" alt=""></a>
                                    </figure>
                                    <div class="pepl-info">
                                        <h4><a href="@Url.Action("Details", "KD_DonQuas", new { id = item.MaDQ })" title="">@item.QuaTang.tenQuaTang</a></h4>
                                        <span>Người đổi quà: @item.NguoiDung.hoVaTen</span>
                                        <span style="color: black">Địa chỉ: @item.DiaChi</span>
                                        <a href="#" style="position: absolute; right: 100px;" title="" class="add-butn more-action" data-toggle="modal" data-target="#exampleModal">Hủy đơn quà</a>
                                        <a href="@Url.Action("EditTranngThai", "KD_DonQuas", new { maDQ = item.MaDQ })" title="" class="add-butn" data-ripple="">Hoàn tất</a>

                                    </div>
                                </div>

                            </li>
                        }

                    }
                </ul>
                <button class="btn-view btn-load-more"></button>
            </div>

            <div class="tab-pane fade" id="frends-req1">
                <ul class="nearby-contct">
                    @foreach (var item in Model)
                    {
                        if (item.TrangThai == "Đã hoàn tất")
                        {

                            string avt_BD = "";
                            if (item.NguoiDung.avatar != null)
                            {
                                avt_BD = item.NguoiDung.avatar;
                            }
                            else
                            {
                                avt_BD = "~/images/resources/User-avatar.svg";
                            }
                            <li>
                                <div class="nearly-pepls">
                                    <figure>
                                        <a href="@Url.Action("Details", "KD_DonQuas", new { id = item.MaDQ })" title=""><img width="40" src="@Url.Content(avt_BD)" alt=""></a>
                                    </figure>
                                    <div class="pepl-info">
                                        <h4><a href="@Url.Action("Details", "KD_DonQuas", new { id = item.MaDQ })" title="">@item.QuaTang.tenQuaTang</a></h4>
                                        <span>Người đổi quà: @item.NguoiDung.hoVaTen</span>
                                        <span style="color: black">Địa chỉ: @item.DiaChi</span>
                                        <a href="@Url.Action("Details", "KD_DonQuas", new { id = item.MaDQ })" title="" class="add-butn" data-ripple="">Chi tiết</a>
                                    </div>
                                </div>
                            </li>
                        }

                    }
                </ul>
                <button class="btn-view btn-load-more"></button>
            </div>
        </div>
    </div>
    </div>  
    <script>
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
        })
    </script>
