@model ELF.Models.DiemTichLuy

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/NguoiDung/Views/Shared/_Layout_TrangCaNhan_NguoiDungKhac.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DiemTichLuy</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.diem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.thoiGian)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.thoiGian)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BaiDangSanPham.tenSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaiDangSanPham.tenSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BaiDangThongTin.tieuDe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaiDangThongTin.tieuDe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NguoiDung.hoVaTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NguoiDung.hoVaTen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuyenGop.donVi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuyenGop.donVi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.maDTL }) |
    @Html.ActionLink("Back to List", "Index")
</p>
