@model ELF.Models.DonThuGom

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DonThuGom</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.trangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trangThai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngayGui)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngayGui)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngayXacNhan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngayXacNhan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ngayHoanTat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngayHoanTat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.viTriTG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.viTriTG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.thanhPhan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.thanhPhan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.khoiLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.khoiLuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ghiChu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ghiChu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonViThuGom.tenDVTG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonViThuGom.tenDVTG)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
