@model ELF.Models.DonThuGom

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";

    int maND = int.Parse(Session["maND"].ToString());
}

<div class="usr-pnl">
    <div class="pnl-tl">
        <h4>Đơn quên góp</h4>  
    </div><!-- Panel Title -->
    <div class="pnl-bdy" style="padding: 40px 40px 45px; text-align: center; ">
        <div class="editing-info">
            <h5 class="f-title"><i class="ti-info-alt"></i>Thông tin quyên góp</h5>
            <div class="form-group">
                <img width="300" src="~/images/resources/@Model.DonViThuGom.logo" alt="">
            </div>
        </div>

        <div class="onoff-options">
            <div class="setting-row">
                <span>Thành phần thu gom</span>
                <p>@Html.DisplayFor(model => model.thanhPhan)</p>
            </div>

            <div class="setting-row">
                <span>Khối lượng thu gom</span>
                <p>@Html.DisplayFor(model => model.khoiLuong)</p>
            </div>

            <div class="setting-row">
                <span>Vị Trí thu gom</span>
                <p>@Html.DisplayFor(model => model.viTriTG)</p>
            </div>

            <div class="setting-row">
                <span>Ngày hẹn thu gom</span>
                <p>@Html.DisplayFor(model => model.ngayHenTG)</p>
            </div>

            <div class="setting-row">
                <span>Ngày gửi yêu cầu thu gom</span>
                <p>@Html.DisplayFor(model => model.ngayGui)</p>
            </div>

            <div class="setting-row">
                <span>Ngày xác nhận</span>
                @if (Model.ngayXacNhan != null)
                {
                    <p>@Html.DisplayFor(model => model.ngayXacNhan)</p>
                }
                else
                {
                    <p>Chưa xác nhận</p>
                }
            </div>

            <div class="setting-row">
                <span>Ngày hoàn tất</span>
                @if (Model.ngayHoanTat != null)
                {
                    <p>@Html.DisplayFor(model => model.ngayHoanTat)</p>
                }
                else
                {
                    <p>Chưa hoàn tất</p>
                }
            </div>
            <div class="setting-row">
                <span>Trạng thái</span>
                <p>@Html.DisplayFor(model => model.trangThai)</p>
            </div>
            <div class="setting-row">
                <span>Ghi chú</span>
                <p>@Html.DisplayFor(model => model.ghiChu)</p>
            </div>
            @if (Model.trangThai == "Gửi yêu cầu")
            {
                <div class="submit-btns" style="float:right">
                    <button type="button" class="mtr-btn" onclick="location.href='@Url.Action("Index", "DonThuGoms", new { maDVTG = Model.maDVTG })'" style="float:left"><span>Quay lại</span></button>
                    <button type="button" class="mtr-btn scrh-grp-btn" style="width: auto"><span>Chỉnh sửa</span></button>
                    <button type="button" class="mtr-btn" data-toggle="modal" data-target="#exampleModal" style="color:firebrick"><span>Xóa Yêu Cầu</span></button>
                </div>
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Thông báo</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            @using (Html.BeginForm("Xoa_DTG", "DonThuGoms"))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("id", Model.maDonTG)
                                @Html.Hidden("maDVTG", Model.maDVTG)
                                <div class="modal-body">
                                    <form>
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label" style="float: left">Lý do:</label>
                                            <textarea class="form-control" id="message-text" name="lydo"
                                                      required="required" oninvalid="this.setCustomValidity('Vui lòng nhập lý do hủy yêu cầu)" oninput="setCustomValidity('')"></textarea>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                                            <button type="submit" class="btn btn-primary" id="btn btn-primary">Xác nhận</button>
                                        </div>
                                    </form>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
            else
            {
                <button type="button" class="mtr-btn" onclick="location.href='@Url.Action("Index", "DonThuGoms", new { maDVTG = Model.maDVTG})'"><span>Quay lại</span></button>
            }

            <div class="coment-area" style="text-align: left">
                <ul class="we-comet">

                    @Html.Action("listComment_DTG", "BinhLuans", new { maDTG = Model.maDonTG })


                    <li>
                        <a href="" title="" class="showmore underline"></a>
                    </li>
                    <li class="post-comment">
                        <div class="comet-avatar" >
                            <img src="~/images/resources/logo_elf_hasBackgroundColor.png" alt="" style="width: 70%" >
                        </div>
                        <div class="post-comt-box">
                            <form method="post">
                                <textarea placeholder="Post your comment" name="coment"></textarea>
                                <input hidden type="text" id="URL_CMT" value="@Url.Action("InsertBinhLuansDTG", "BinhLuans")">
                                <input hidden type="text" id="MaND_cmt" value="@maND">
                                <input hidden type="text" id="BD_cmt" value="3">
                                <input hidden type="text" id="MaBD_cmt" value="@Model.maDonTG">
                                <input hidden type="text" id="name_cmt" value="ELF">
                                <input hidden type="text" id="avt_cmt" value="~/images/resources/logo_elf_hasBackgroundColor.png">
                                <button type="submit"></button>
                            </form>

                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>

<div class="popup-wrp2 srch-grp-pp">
    <span class="pp-cls"></span>
    <div class="popup-innr loc-edt" style="max-width: 1040px;">
        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 500px;">
            <div class="scrl" style="overflow: hidden; width: auto; height: 500px;">
                <div class="usr-pnl">
                    <div class="pnl-tl">
                        <h4>Thêm Đơn Thu Gom </h4>
                        <ul class="brd-crmb">
                            <li><a href="#" title=""><i class="fa fa-home"></i></a></li>
                            <li>Locations</li>
                        </ul>
                    </div><!-- Panel Title -->
                    <div class="pnl-bdy">

                        <div class="adrs-frm">
                            <h4>Thông Tin Đơn Thu Gom</h4>
                            @using (Html.BeginForm("Edit", "DonThuGoms", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("maDVTG", Model.maDVTG)
                                @Html.Hidden("id", Model.maDonTG)
                                <form>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <input type="text" placeholder="Thành phần rác thải" value="@Model.thanhPhan" name="thanhPhan"
                                                           required="required" oninvalid="this.setCustomValidity('Bạn chưa nhập thành phần rác thải)" oninput="setCustomValidity('')">
                                                </div>
                                                <div class="col-md-4">
                                                    <input type="text" placeholder="Khối lượng" name="khoiLuong" value="@Model.khoiLuong"
                                                           required="required" oninvalid="this.setCustomValidity('Bạn chưa nhập khối lượng rác thải)" oninput="setCustomValidity('')">
                                                </div>

                                                <div class="col-md-12">
                                                    <input type="Text" placeholder="Vị trí thu gom" name="viTri" value="@Model.viTriTG"
                                                           required="required" oninvalid="this.setCustomValidity('Bạn chưa nhập vị trí thu gom)" oninput="setCustomValidity('')">
                                                </div>
                                                <div class="col-md-12">
                                                    <a href="#">Ngày hẹn thu gom:  </a>
                                                    <input type="datetime-local" placeholder="Ngày hẹn thu gom" name="ngayHenTG"
                                                           value="@String.Format("{0:yyyy-MM-ddTHH:mm:ss}",Model.ngayHenTG)"
                                                           required="required" oninvalid="this.setCustomValidity('Bạn chưa nhập loại thu gom)" oninput="setCustomValidity('')">
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <textarea placeholder="Ghi chú" name="ghiChu" value="@Model.ghiChu"></textarea>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <button type="submit" title="" class="sv-btn">Lưu</button>
                                </form>
                            }
                        </div><!-- Address Form -->
                    </div><!-- Panel Body -->
                </div><!-- User panel -->
            </div>
        </div>
    </div>
</div>