@model IEnumerable<ELF.Models.DonThuGom>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.trangThai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ngayGui)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ngayXacNhan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ngayHoanTat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.viTriTG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.thanhPhan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.khoiLuong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ghiChu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DonViThuGom.tenDVTG)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.trangThai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ngayGui)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ngayXacNhan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ngayHoanTat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.viTriTG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.thanhPhan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.khoiLuong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ghiChu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DonViThuGom.tenDVTG)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.maDonTG }) |
            @Html.ActionLink("Details", "Details", new { id=item.maDonTG }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.maDonTG })
        </td>
    </tr>
}

</table>
