@model IEnumerable<ELF.Models.QuyenGop>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/NguoiDung/Views/Shared/_Layout_NguoiDung.cshtml";
}

<h2>Danh Sách Các Đồ Dùng Quyên Góp</h2>

<p>
    @Html.ActionLink("Đăng Ký Quyên Góp", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Ngày Quyên Góp
        </th>
        <th>
            Số Lượng
        </th>
        <th>
            Đơn Vị
        </th>
        <th>
            Trạng Thái
        </th>
        <th>
            Hình Ảnh
        </th>
        <th>
            Ghi Chú
        </th>
        <th>
            Nội Dung
        </th>
        <th>
            Họ và Tên
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ngayQG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.soLuong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.donVi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.trangThai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hinhAnh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ghiChu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoaiQuyenGop.noiDung)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NguoiDung.hoVaTen)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.maQG }) |
            @Html.ActionLink("Details", "Details", new { id=item.maQG }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.maQG })
        </td>
    </tr>
}

</table>
