@model IEnumerable<ELF.Models.QuyenGop>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/NguoiDung/Views/Shared/_Layout_NguoiDung.cshtml";
}


<div class="central-meta">
    <div class="groups">
        <span><i class="fa fa-file-text-o"></i> Lịch sử quyên góp</span>
    </div>

    <ul class="nearby-contct">
        @foreach (var item in Model)
        {
            <li>
                <div class="nearly-pepls">
                    <figure>
                        <img src="@Url.Content(item.hinhAnh)" alt="">
                    </figure>
                    <div class="pepl-info">
                        <h4>@item.LoaiQuyenGop.tenLoai</h4>
                        <span style="color: #545454">@item.soLuong @item.donVi</span>
                        <span>@item.ngayQG.ToString("dd/MM/yyyy")</span>
                        <em>@item.trangThai</em>
                        <a href="@Url.Action("Delete", "QuyenGops", new {id = item.maQG})" title="" class="add-butn" data-ripple="">Huỷ yêu cầu</a>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>

