@model ELF.Models.QuyenGop

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/NguoiDung/Views/Shared/_Layout_NguoiDung.cshtml";
}

<h2>Details</h2>

<div>
    <h4>QuyenGop</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ngayQG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ngayQG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.soLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soLuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.donVi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.donVi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.trangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trangThai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hinhAnh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hinhAnh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ghiChu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ghiChu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoaiQuyenGop.noiDung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiQuyenGop.noiDung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NguoiDung.hoVaTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NguoiDung.hoVaTen)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.maQG }) |
    @Html.ActionLink("Back to List", "Index")
</p>
