@model IEnumerable<ELF.Models.QuyenGop>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/NguoiDung/Views/Shared/_Layout_NguoiDung.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ngayQG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.soLuong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.donVi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.trangThai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hinhAnh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ghiChu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoaiQuyenGop.noiDung)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NguoiDung.hoVaTen)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ngayQG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.soLuong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.donVi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.trangThai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hinhAnh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ghiChu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoaiQuyenGop.noiDung)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NguoiDung.hoVaTen)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.maQG }) |
            @Html.ActionLink("Details", "Details", new { id=item.maQG }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.maQG })
        </td>
    </tr>
}

</table>
